.navbarDashboard {
  margin: 0px;
  padding: 0 12px;
  position: fixed;
  background: white;
  width: 100%;
  max-width: 100vw;
  z-index: 1000;
  top: 0;

  @media (min-width: 1200px) {
    padding: 0 22.5px !important;
  }
  @media (max-width: 320px) {
    max-width: 135vw;
  }
}

.rounded-circle-nav {
  height: 75px;
}

.search__navbar {
  padding: 0 45px;

  @media screen and (max-width: 575px) {
    padding: 0 28px;
  }

  &-container {
    max-width: unset;
  }
}

.navbar-toggler-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.navbar-logotype {
  transition: margin 0.3s ease-in-out;
  &--opacity {
    opacity: 1;
  }
  &--no-opacity {
    opacity: 0;
  }
  &--margin-selected {
    margin: 1.93rem 0 2.33rem;

    @media screen and (max-width: 575px) {
      margin: 2.14rem 0;
    }
  }
  &--margin-no-selected {
    margin: 1.33rem 0;
  }
}

.navbar-options {
  &__container {
    width: 100%;
    height: 7rem;
    padding: 0 150px;
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--light {
      @extend .navbar-options__container;
      background-color: $color_white;
    }
    &-logotype {
      width: 9.87rem;
      @media screen and (max-width: 575px) {
        width: 7.47rem;
      }
    }
  }
  &__bars-menu {
    width: 45px;
    height: 40px;
    padding: 7px 5px 6px 7px;
    border-radius: 5px;
    border: 1px solid $color_gray;
    cursor: pointer;

    .navbar-toggler-icon {
      width: 90%;
      height: 90%;
    }
  }
  &__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    &--mobile {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      transition: right 0.5s ease-in-out;
      background-color: $color_green_dark;
      transition: right 0.3s ease-in-out;
      &-show {
        @extend .navbar-options__nav--mobile;
        right: 0;
        transition: right 0.3s ease-in-out;
      }
      .navbar-options__close {
        width: 50px;
        height: 50px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5px;
        right: 5px;
        // border-radius: 50%;
        // border: 1px solid $color_gray;
        &-btn {
          color: $color_white;
          // transform: translateY(-1.5px);
        }
      }
      .navbar-options__list {
        min-height: 180px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-link {
          padding: 1.2rem 0;
        }
        &-item--btn {
          padding: 12px 0 0 0;
        }
        &-item--selected {
          .navbar-options__list-link {
            font-weight: 700;
            color: $color_white;
          }
          &::after {
            content: '';
            width: 0;
            height: 0;
          }
        }
      }
      .navbar-options__link {
        display: block;
        -webkit-appearance: unset;
        appearance: none;
      }
    }
  }
  &__list {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    &-item {
      &--selected {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        transform: translateY(-0.2rem);

        .navbar-options__list-link {
          color: $color_white !important;
        }

        &::after {
          content: '';
          width: 60%;
          height: 3px;
          border-radius: 6px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: $color_orange;
        }
      }
    }
    &-link {
      padding: 20px 25px;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      color: $color_gray_soft;
      transition: color 0.3s ease-in-out;
      &:visited {
        color: $color_gray_soft;
      }
      &:hover {
        color: $color_white;
      }
    }
  }
  &__link {
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid $color_white;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: $color_white;
    -webkit-appearance: unset;
    appearance: none;
    &:visited {
      color: $color_white;
    }
    &--colored {
      border: 1px solid $color_black;
      color: $color_black !important;
    }
  }
  @media screen and (max-width: 1499px) {
    &__container {
      padding: 0 40px;
    }
    &__list-link,
    &__link {
      font-size: 17px;
    }
  }
  @media screen and (max-width: 1299px) {
    &__container {
      padding: 0 40px;
    }
    &__list-link,
    &__link {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 1199px) {
    &__container {
      padding: 0 30px;
    }
    &__nav {
      left: 45%;
      transform: translate(-45%, -50%);
    }
    &__list-link {
      padding: 20px;
    }
    &__link {
      padding: 11px;
    }
  }
  @media screen and (max-width: 991px) {
    &__bars-menu {
      border: none;
    }
  }
}
