.custom-slick-dots {
  bottom: 50px;
}

.full-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-slider-content {
  position: absolute;
  background: $color_white;
  width: 40.8rem;
  height: 38.47rem;
  top: 4vh;
  right: 8.7%;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  &-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.73rem;
    line-height: 130%;
    color: $color_black;
    margin: 0 0 2rem;
    @media screen and (max-width: 497px) {
      font-size: 14px;
    }
  }
  &-btn {
    align-self: center;
    width: 24.4rem !important;
    height: 3.93rem !important;
    margin-top: 20px;
    padding: 1rem 0.8rem !important;
    border-radius: 0.67rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
.custom-slider-container {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 45.5rem;
  max-height: 45.5rem;

  &-title {
    margin: 0 0 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.33rem;
    line-height: 130%;
    color: $color_green_soft;
  }
  &-main-title {
    margin: 0 0 2rem;
    font-size: 2.67rem;
    line-height: 1.3em;
  }
}
.slider-regions-homepage {
  .custom-slick-dots {
    transform: translateY(0.8rem);
  }
}

@media screen and (max-width: 1699px) {
  .full-slider-content {
    &-text {
      font-size: 1.4rem;
    }
    &-btn {
      font-size: 1.1rem;
    }
  }
  .custom-slider-container {
    &-title {
      font-size: 1.25rem;
    }
    &-main-title {
      font-size: 2.3rem;
    }
  }
}
@media screen and (max-width: 1399px) {
  .full-slider-content {
    &-text {
      font-size: 1.3rem;
    }
  }
  .custom-slider-container {
    &-title {
      font-size: 1.2rem;
    }
    &-main-title {
      font-size: 2.2rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .full-slider-content {
    right: 50%;
    transform: translateX(50%);       
    width: 90%;
    max-height: 80%;
    &-text {
      font-size: 1.33rem;
    }
    &-btn {
      width: auto !important;
    }
  }
  .custom-slider-container {
    &-title {
      font-size: 1.09rem;
    }
    &-main-title {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 575px) {
  .full-slider-content {
    max-height: 24.24rem;
    padding: 1.87rem;
    &-btn {
      position: absolute;
      bottom: -43%;
      padding: 1.3rem 0.8rem !important;
      font-size: 0.8rem;
      font-weight: 500;
    }
    &-text {
      font-size: 1.1rem;
    }
  }
  .custom-slider-container {
    height: 38.67rem;
    &-main-title {
      margin: 0 0 0.6rem;
      font-size: 1.36rem;
    }
  }
  .slider-regions-homepage {
    .custom-slick-dots {
      display: none !important;
    }
  }
}
