@import '../colors';

.pageloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: 999998;
  opacity: 0;
  transition: -webkit-opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
  will-change: opacity;
  pointer-events: none;

  //Active state
  &.is-active {
    opacity: 1;
  }
  &.is-clear {
    background: #ffffff36;
  }

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 100%;
    content: '';
    z-index: 999999;
  }
}

/* ==========================================================================
1. Keyframes
========================================================================== */

@-webkit-keyframes page-loader-inner {
  0%,
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes page-loader-inner {
  0%,
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes page-loader-outer {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100%,
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes page-loader-outer {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100%,
  40% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

/* ==========================================================================
2. Infraloader
========================================================================== */

.infraloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color_white;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.35s;

  //Active state
  &.is-active {
    z-index: 1000000;
  }

  //Fullwidth modifier
  &.is-full {
    width: 100% !important;
    left: 0 !important;
  }
}

@media (max-width: 767px) {
  .pageloader,
  .infraloader {
    width: 100% !important;
    left: 0 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .pageloader,
  .infraloader {
    width: 100% !important;
    left: 0 !important;
  }
}
