@import '../colors';

.hebergement {
  &__infoCard {
    padding: 40px 40px 30px;
    box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    position: relative;

    @media (min-width: 421px) and (max-width: 550px) {
      padding: 20px;
    }

    @media (max-width: 360px) {
      padding: 20px;
    }

    hr {
      height: 0.5px;
    }
    img {
      width: 100%;
      border-radius: 5px;
      max-height: 13rem;
    }
    .cardTextUp {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 16px;
      @media (max-width: 1399px) and (min-width: 992px) {
        grid-template-columns: unset;
      }
      @media (max-width: 420px) {
        grid-template-columns: unset;
      }
      .textContent {
        & span {
          font-size: 10px;
          color: $color_gray;
          margin-bottom: 0.3rem;
        }
        & h4 {
          font-size: 14px;
          color: $color_black;
        }
        display: flex;
        flex-direction: column;
      }
      .priceAndstars {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        :first-child {
          display: flex;
          width: 3rem;
          align-items: center;
          span {
            margin-bottom: 0;
            margin-left: 0.5rem;
            color: $color_black;
          }
          svg {
            color: $color_yellow;
            width: 1rem;
          }
        }
      }
    }
    .cardTextDown {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .status {
        font-size: 14px;
        display: flex;
        align-items: center;
        @media (max-width: 1200px) {
          flex-direction: column;
          align-items: baseline;
        }
        @media (max-width: 991px) {
          flex-direction: row;
          align-items: center;
        }
        @media (max-width: 420px) {
          flex-direction: column;
          align-items: baseline;
        }
        :last-child {
          display: flex;
          align-items: center;
        }
        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 0.3rem;

          &--red {
            background: $color_red;
          }
          &--green {
            background: #445136;
          }
        }
      }
      .custom-control-label::before {
        box-shadow: inset 0px 2.8px 5.6px rgba(0, 0, 0, 0.15);
        // background: white;
        height: 20px;
        width: 2.2rem;
        left: -2.6rem;
        border-radius: 1rem;
        border: none;
        top: 0;
      }
      .custom-switch .custom-control-label::after {
        // background: blue;
        width: 16px;
        height: 16px;
        border-radius: 1rem;
        left: -2.4rem;
        top: 2px;
      }
    }
  }
}

//gallery.scss
.modal-backdrop {
  @media screen and (max-width: 320px) {
    width: 100%;
    height: 100%;
  }
}

.modal-content__slider-photos {
  padding: 0 1rem 1.5rem 1rem;

  @media screen and (max-width: 599px) {
    padding: 0 1rem;
  }
}

.gallery__container {
  &-about {
    @media screen and (max-width: 991px) {
      position: relative;
      &-info {
        position: absolute;
        top: 0;
        left: 8.25rem;
        &:nth-child(3) {
          top: -3.41rem;
        }
        &:last-child {
          top: -1.59rem;
        }
      }
    }
  }

  .search-modal-dialog {
    .slick-slider {
      .slick-arrow {
        transform: translateY(-50%);
      }
      .slick-next {
        transform: rotate(180deg);
      }
      .slick-prev {
        transform: rotate(0deg);
      }
      .slick-slide {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__img-modal {
          max-width: 100%;
          max-height: 500px !important;
        }
        @media screen and (max-width: 991px) {
          height: 400px;
          &__img-modal {
            max-height: 400px !important;
          }
        }
        @media screen and (max-width: 767px) {
          height: 350px;
          &__img-modal {
            max-height: 350px !important;
          }
        }
        @media screen and (max-width: 575px) {
          height: 300px;
          &__img-modal {
            max-height: 300px !important;
          }
        }
        @media screen and (max-width: 479px) {
          height: 280px;
          &__img-modal {
            max-height: 280px !important;
          }
        }
      }
    }
  }
}

.gallery-responsive {
  img {
    height: 250px;
  }
}

// calc.scss

.calc-input {
  height: 78px;
}

.calc__dates {
  width: 100%;
  padding: 0 15px;

  &-users {
    padding: 12px 22px;
  }

  &-input {
    background: white;
    padding: 12px 22px;

    & + div .DayPicker {
      position: absolute;
      z-index: 10;
      left: -56px;
    }

    &-arrive {
      border-right: 1px solid var(--color-black);
      border-radius: 8px 0 0 8px;
      & + .DayPicker {
        position: absolute;
        left: -7.25%;
        z-index: 10;
      }
    }

    &-departure {
      border-radius: 0 8px 8px 0px;
      & + div {
        left: 4.2em;
      }
    }
  }

  &-close {
    z-index: 100;
    top: 1em;
    right: -1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .calc__dates {
    &-close {
      z-index: 100;
      top: 1em;
      right: -4rem;
      cursor: pointer;
    }
  }
}

.DayPicker-NavButton--prev {
  margin-right: 2.75em !important;
}

.DayPicker-NavButton--next {
  margin-right: 1.5em !important;
}

.modalPriceContent {
  &___addNew {
    color: $color_orange;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
  }
  .tarifs__actions {
    //  background: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    * {
      color: $color_green-titles;
      cursor: pointer;
      width: 1.2rem;
    }
    :first-child {
      :hover {
        color: $color_green_light;
        transition: color 0.1s ease;
      }
    }
    :last-child {
      :hover {
        color: $color_red;
        transition: color 0.1s ease;
      }
    }
  }
  &___dates {
    .react-datepicker-wrapper {
      width: calc(100% - 98px) !important;
    }
    .CustomDatePicker-form-control {
      height: 50px;
      padding: 0 10px !important;
      display: flex;
      align-items: center;

      label {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      svg {
        width: 25px;
        margin: 0;
        padding: 5px;
      }
    }

    &--profile {
      @extend .modalPriceContent___dates;
      margin: 0 0 15px 0;

      .react-datepicker-wrapper {
        width: 100% !important;
      }

      .react-datepicker__month-select, .react-datepicker__year-select {
        width: 100%;
        height: 30px !important;
        margin: 0;
        padding: 6px 6px 6px 18px;
        background-position: calc(100% - 20px) calc(1em - 2px),
          calc(100% - 15px) calc(1em + 10px), 100% 0;
      }

      .react-datepicker__month-dropdown-container--select, .react-datepicker__year-dropdown-container--select {
        width: 46%;
        height: 30px !important;
        margin: 8px 2px;
      }
    }
  }
}

.CustomMonthPicker {
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px $color_black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    margin-bottom: 0;
  }
  &_icon {
    color: $color_gray;
    margin-left: 1rem;
  }
}

.DayPicker-Day--start {
  position: relative;
  &::before {
    content: '';
    display: block;
    background: $color_green_dark;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    opacity: 0.5;
  }
}
.DayPicker-Day--end {
  position: relative;
  &::after {
    content: '';
    display: block;
    background: $color_green_dark;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 0 0);
    opacity: 0.5;
  }
}
.DayPicker-Day--center {
  background: $color_green_dark !important;
  opacity: 0.5;
  border-radius: initial !important;
}

.DayPicker-Day--unavailableStart {
  position: relative;
  &::before {
    content: '';
    display: block;
    background: $color_black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    opacity: 0.2;
  }
}
.DayPicker-Day--unavailableEnd {
  position: relative;
  &::after {
    content: '';
    display: block;
    background: $color_black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 0 0);
    opacity: 0.2;
  }
}
.DayPicker-Day--unavailableCenter {
  background: $color_black !important;
  opacity: 0.2;
  border-radius: initial !important;
}

.image-progress {
  width: 70%;
  position: absolute;
  top: 45%;
  left: 15%;
}
