.onboarding__final-span {
  display: block;
  @media screen and (max-width: 1109px) {
    display: inline;
  }
  @media screen and (max-width: 991px) {
    display: block;
  }
  @media screen and (max-width: 600px) {
    display: inline;
  }
}