
.DayPicker {
  background-color: #FFF;

  &-Caption{
    color: var(--color-black)
  }
  
  &-Day{
    color: var(--color-black);
    border: 1px solid rgba(0,0,0,.2);
  }

  &-wrapper{
    outline: none;
  }
}
