  .mobile-side-menu {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1.67rem 1.87rem;
    background-color: $color_green_dark;
    transition: right 0.3s ease-in-out;

    &--clicked {
      right: 0;
    }

    &__icons {
      display: flex;
      flex-direction: column;
      margin: 0 0 5rem;
    }
    &__close {
      align-self: flex-end;
      width: 3rem;
      height: 3rem;
    }
    &__logo {
      align-self: center;
      width: 9rem;
      margin: 1rem 0 0;
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }
    &__link {
      margin: 2rem auto;
      color: $color_white;
      font-size: 1.2rem;
      font-weight: 700;
      text-decoration: none;
      &:visited {
        color: $color_white;
      }
      &:first-child {
        margin: 0 auto 2rem;
      }
      &:last-child {
        margin: 2rem auto 0;
      }
    }
  }