.regions-page-section {
  padding: 120px 100px;
}

.regions-main-title {
  padding: 0 15px;
  font-size: 60px;
  text-align: center;
  color: $color_white;
}

.regions-main-subtitle {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 38px;
}

.regions-text {
  font-size: 17px;
  line-height: 1.5em;
}

.regions-btn {
  border-radius: 0.25rem;
  -webkit-appearance: unset;
  appearance: unset;
}


@media screen and (max-width: 1199px) {
  .regions-page-section {
    padding: 110px 80px;
  }
  .regions-main-title {
    font-size: 55px;
  }
}
@media screen and (max-width: 991px) {
  .regions-page-section {
    padding: 100px 70px;
  }
  .regions-main-title {
    font-size: 50px;
  }
  .regions-main-subtitle {
    font-size: 36px;
    margin: 0 0 18px 0;
  }
  .regions-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .regions-page-section {
    padding: 90px 65px;
  }
  .regions-main-title {
    font-size: 45px;
  }
  .regions-main-subtitle {
    font-size: 32px;
    margin: 0 0 15px 0;
  }
  .regions-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 575px) {
  .regions-page-section {
    padding: 80px 60px;
  }
  .regions-main-title {
    font-size: 40px;
  }
  .regions-main-subtitle {
    font-size: 32px;
    margin: 0 0 12px 0;
  }
  .regions-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 420px) {
  .regions-page-section {
    padding: 50px;
  }
}
@media screen and (max-width: 360px) {
  .regions-page-section {
    padding: 40px;
  }
}