.regions-page-outstanding {
  padding: 160px 234.5px;
  background-color: $color_gray_banner2;
  &__title {
    text-align: center;
    margin: 0 0 23px 0 !important;
  }
  &__subtitle {
    margin: 0 0 4rem 0;
    display: block;
    text-align: center;
    color: $color_orange;
    font-size: 22px;
    font-weight: 600;
  }

  &__wrapper {
    padding: 60px 17 0;
  }

  &__text-image {
    padding: 40px 0 60px;
    display: flex;    

    &:nth-child(2n) {
      flex-direction: row-reverse;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }

      .regions-page-outstanding__text-block {
        padding: 0 0 0 170px;

        @media screen and (max-width: 1599px) {
          padding: 0 0 0 90px; 
        }
        @media screen and (max-width: 1399px) {
          padding: 0 0 0 80px; 
        }
        @media screen and (max-width: 1199px) {
          padding: 0 0 0 60px; 
        }
        @media screen and (max-width: 991px) {
          padding: 0 0 0 40px; 
        }
        @media screen and (max-width: 767px) {
          padding: 0; 
        }
      }
    } 
    &:last-child {
      padding: 40px 0 0;
    }
  }

  &__text-block {
    width: 50%;
    min-height: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 170px 0 0;

    &-title {
      font-size: 25px;
      text-transform: uppercase;
    }
    &-subtitle {
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: 600;
      color: $color_orange;
    }
    &-text {
      margin: 15px 0 0 0;
      font-size: 18px;
      line-height: 27px;
    }
  }
  
  &__image {
    width: 50%;
    border-radius: 10px;
    object-fit: cover;
  }


  @media screen and (max-width: 1599px) {
    padding: 150px;
    &__text-block {
      padding: 0 90px 0 0;
    }  
  }
  @media screen and (max-width: 1399px) {
    padding: 120px 100px;
    &__wrapper {
      padding: 50px 75px 0;
    }
    &__text-block {
      padding: 0 80px 0 0;

      &-text {
        margin: 0;
      }
    }  
  }
  
  @media screen and (max-width: 1199px) {
    padding: 110px 90px;
    &__wrapper {
      padding: 40px 60px 0;
    }  
    &__subtitle {
      font-size: 18px;
    }
    &__text-block {
      padding: 0 60px 0 0;
      min-height: 370px;
      &-title {
        font-size: 20px;
      }
      &-subtitle {
        font-size: 18px;
      }
      &-text {
        font-size: 16px;
      }
    } 
  }
  @media screen and (max-width: 991px) {
    padding: 100px 80px;
    &__wrapper {
      padding: 0;
    }  
    &__text-block {
      padding: 0 40px 0 0;
      &-text {
        font-size: 15px;
      }
      &-subtitle {
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 80px 60px;
    &__subtitle {
      font-size: 16px;
    }
    &__text-block {
      width: 100%;
      min-height: unset;
      padding: 0;
      margin: 0 0 15px 0;
      &-text {
        font-size: 14px;
      }
      &-subtitle {
        font-size: 18px;
      }
    }
    &__text-image {
      padding: 25px 0 0;
      flex-direction: column;
    } 
    &__image {
      width: 70%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 575px) { 
    padding: 60px 40px;
    &__subtitle {
      font-size: 15px;
    }
    &__text-block {
      &-title {
        font-size: 18px;
      }
      &-subtitle {
        font-size: 16px;
      }
    } 
    &__image {
      width: 80%;
    }
  }
  @media screen and (max-width: 480px) { 
    &__image {
      width: 100%;
    }
  }
  @media screen and (max-width: 432px) {
    &__title {
      font-size: 24px !important;
    }
  }
  @media screen and (max-width: 389px) {
    &__title {
      font-size: 21px !important;
    }
  }
  @media screen and (max-width: 359px) {
    &__title {
      font-size: 19px !important;
    }
  }
  @media screen and (max-width: 321px) {
    &__title {
      font-size: 23px !important;
    }
  }
}
