.regions-page-about {
  padding: 160px 150px 240px;
  &__title {
    text-align: center;
  }
  &-tabs {
    &__list {
      margin: 0;
      padding: 40px 0 20px;
      display: flex;
      justify-content: space-between;
      list-style: none;

      &-item {
        font-size: 18px;
        color: $color_gray;
        cursor: pointer;

        @media screen and (min-width: 1115px) and (max-width: 1135px) {
          font-size: 1rem !important;
          &--selected {
            font-size: 1rem !important;
          }
        }
        
        &--selected {
          position: relative;
          font-size: 18px;
          font-weight: 700;

          &::after {
            content: '';
            width: 80%;
            height: 5px;
            border-radius: 6px;
            position: absolute;
            bottom: -22.5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color_orange;
          }
          
          &:nth-child(2), &:nth-child(3) {
            &::after {
              width: 130%;
            }
          }
        }
      }

    }
    &__line {
      width: 100%;
      height: 1px;
      margin: 0 0 20px 0;
      background-color: $color_gray;
    }
  }

  &-mobile-tabs {
    width: 50%;
    margin: 0 auto;
    background-color: $color_white;
    border-radius: 0 0 0.67rem 0.67rem;
    box-shadow: 0px 15px 10px -15px #80808078;
    &__list {
      padding: 0;
      list-style: none;

      &-item {
        padding: 5px;
        text-align: center;
        cursor: pointer;
      }
      &-line {
        width: 100%;
        height: 1px;
        background-color: $color_gray_soft;
        margin: 0;
        border-width: 1px;
        &:last-child {
          height: 0;
        }
      }
    }
    @media screen and (max-width: 767px) {
      width: 70%;
    }
    @media screen and (max-width: 575px) {
      width: 86%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  &-content {
    padding: 10px 0;
    &__container-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      margin: 10px 0 30px;
      text-align: center;
      font-size: 24px;
      font-family: var(--font-montserrat);
      font-weight: 600;
      color: $color_black;
      &--mobile {
        @extend .regions-page-about-content__title;
        padding-right: 5px;
        cursor: pointer;
        line-height: 1.4em;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: $color_gray_soft;
        @media screen and (max-width: 767px) {
          font-size: 21px;
        }
        @media screen and (max-width: 575px) {
          font-size: 19px;
        }
        @media screen and (max-width: 500px) {
          font-size: 17px;
        }
        &-long {
          @extend .regions-page-about-content__title--mobile;
          padding: 0;
        }
      }
      &-icon {
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
        &--rotate {
          transform: rotate(45deg);
          transform-origin: center;
          transition: transform 0.3s ease-in-out;
        }
      }
      @media screen and (max-width: 1115px) {
        margin: 20px 0;
      }
    }
    &__subtitle {
      margin: 0 0 1.5rem;
      display: block;
      text-align: center;
    } 

    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 30px;
    }

    &__card {
      &--small {
        width: 85%;
      }
      &-img {
        width: 100%;
        height: 45%;
        min-height: 31.27rem;
        border-radius: 10px;
        object-fit: cover;

        &--small {
          width: 80%;
          height: 30%;
          margin: 0 auto;
          display: block;
          min-height: 200px !important;
          max-height: 300px;
          @media screen and (max-width: 1199px) {
            width: 100%;
          }
        }
      }
      &-title {
        margin: 15px 0;
        font-size: 18px;
        font-weight: 600;
        color: $color_black;

      }
      &-text {
        font-size: 16px;
      }
      &-title--centered, &-text--centered {
        text-align: center;
        @media screen and (max-width: 991px) {
          text-align: start;
        }
      }
    }
  }

  @media screen and (max-width: 1699px) {
    padding: 160px 100px;
  }
  @media screen and (max-width: 1399px) {
    &-tabs {
      &__list {
        &-item {
          font-size: 17px;
          &--selected {
            font-size: 17px;
          }
        }
      }
    }
    &-content {
      &__card {
        &-img {
          min-height: 350px;
        }
      }
    }
  }
  @media screen and (max-width: 1299px) {
    &-tabs {
      &__list {
        &-item {
          font-size: 16px;
          &--selected {
            font-size: 16px;
          }
        }
      }
    }
    &-content {
      &__card {
        &-img {
          min-height: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 120px 100px;
  }
  @media screen and (max-width: 991px) {
    padding: 100px 80px 0;
    &-content {
      &__cards {
        display: block;
      }
      &__card {
        padding: 0 0 20px 0;
        display: flex;
        align-items: center;

        &-img {
          width: 40%;
          height: auto;
          min-height: 220px;
        }
        &-block {
          padding: 0 0 0 20px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &-content {
      &__card {

        &-img {
          width: 30%;
          min-height: 150px;
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    padding: 6rem 3.33rem;
    &-content {
      &__card {
        flex-direction: column;

        &-img {
          width: 100%;
        }
        &-block {
          padding: 0;
        }
        &-title {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    padding: 80px 40px;
  }
  @media screen and (max-width: 360px) {
    padding: 5.33rem 1.9rem;
    &-mobile-tabs__list-item {
      padding: 0.33rem 0;
    }
  }
}