.regions-page-other {
  padding: 160px 231.5px;
  display: flex;
  justify-content: space-between;
  background-color: $color_yellow_soft;

  &__title {
    margin: 0 !important;
    padding: 0 0 0 0;
  }

  &__links {
    padding: 0;
    display: flex;
    align-items: center;

    &-list {
      padding: 0;
      list-style: none;
    }
    &-block {
      max-width: 202px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-item {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:first-child {
        padding: 0 0 20px 0;
      }
      &:last-child {
        padding: 20px 0 0 0;
      }
    }
    &-anchor {
      padding: 0 20px 0 0;
      font-size: 18px;
      color: $color_black;
      &:hover {
        color: $color_gray !important;
      }
      &:visited {
        color: $color_black;
      }
    }
    &-arrow {
      width: 10px;
      height: 10px;
    }
    &-divider {
      width: 1px;
      height: 116px;
      margin: 0 100px;
      background-color: $color_gray;
    }
  }

  @media screen and (max-width: 1850px) {
    padding: 160px;
    &__title {
      padding: 0 30px 0 0;
    }
  }
  @media screen and (max-width: 1749px) {
    padding: 120px 80px;

    &__title {
      padding: 55px 45px 0 0;
    }
    &__links {
      &-divider {
        margin: 0 60px;
      }
    }
  }
  @media screen and (max-width: 1599px) {
    padding: 120px 60px;
    &__links {
      &-divider {
        margin: 0 50px;
      }
    }
  }
  @media screen and (max-width: 1499px) {
    padding: 120px 50px;

    &__links {
      &-anchor {
        padding: 0 10px 0 0;
      }
      &-divider {
        margin: 0 40px;
      }
    }
  }
  @media screen and (max-width: 1399px) {
    display: block;
    &__title {
      margin: 0 0 20px 0 !important;
      padding: 0;
      text-align: center;
    }
    &__links {
      justify-content: space-between;
      &-block {
        max-width: unset;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 80px 40px;
    &__links {
      &-divider {
        margin: 0 25px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 60px 30px;
    &__title {
      padding: 50px 0 0;
    }
    &__links {
      flex-direction: column;
      &-item {
        padding: 12px 0;
      }
      &-item:last-child {
        padding: 12px 0 0;
      }
      &-divider {
        width: 200px;
        height: 1px;
        margin: 10px 0;
      }
    }
  }
  @media screen and (max-width: 575px) {
    padding: 40px 20px;
  }
  @media screen and (max-width: 360px) {
    &__links-anchor {
      font-size: 16px;
    }
  }
}