.regions-page-hero {
  width: 100%;
  height: 70vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  &__image {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    transform: translateY(2rem);
  }

  @media screen and (max-width: 1199px) {
    &__title {
      font-size: 65px;
    }
  }
  @media screen and (max-width: 991px) {
    &__title {
      font-size: 55px;
    }
  }
  @media screen and (max-width: 767px) {
    &__title {
      font-size: 45px;
    }
  }
  @media screen and (max-width: 575px) {
    &__title {
      font-size: 35px;
    }
  }
  @media screen and (max-width: 479px) {
    &__title {
      font-size: 28px;
    }
  }
  @media screen and (max-width: 379px) {
    &__title {
      font-size: 24px;
    }
  }
  @media screen and (max-width: 320px) {
    &__title {
      font-size: 28px;
    }
  }
}
