.regions-page-card-activities {
  padding: 160px 150px 0;
  .slick-slide {
    a {
      margin: 0 12px;
      @media screen and (max-width: 1499px) {
        margin: 0 8px;
      }
      @media screen and (max-width: 1099px) {
        margin: 0 auto;
      }
      @media screen and (max-width: 1049px) {
        margin: 0 8px;
      }
      @media screen and (max-width: 640px) {
        margin: 0 auto;
      }
      @media screen and (max-width: 499px) {
        margin: 0 5px;
      }
      @media screen and (max-width: 449px) {
        margin: 0 2px;
      }
    }
  }
  &__image {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    
    &-wrapper {
      width: 200px;
      padding: 0 10px;
    }
  }
  &__card-time {
    display: flex;
    align-items: center;
    &-span {
      margin-left: 0.85rem;
      color: $color_green_dark;
    }
  }
  @media screen and (max-width: 1699px) {
    padding: 160px 100px 0;
  }
  @media screen and (max-width: 1199px) {
    padding: 120px 100px 0;
  }
  @media screen and (max-width: 991px) {
    padding: 100px 80px 0;
    &__title {
      margin: 0 0 20px;
    }
  }
  @media screen and (max-width: 420px) {
    padding: 80px 40px 15px;
  }
}