.regions-page-card-places {
  padding: 160px 150px 0;
  .slick-slide {
    a {
      margin: 0 12px;
      @media screen and (max-width: 1499px) {
        margin: 0 8px;
      }
      @media screen and (max-width: 1099px) {
        margin: 0 auto;
      }
      @media screen and (max-width: 1049px) {
        margin: 0 8px;
      }
      @media screen and (max-width: 705px) {
        margin: 0 auto;
      }
      // @media screen and (max-width: 499px) {
      //   margin: 0 5px;
      // }
      // @media screen and (max-width: 449px) {
      //   margin: 0 2px;
      // }
    }
  }
  &__card {
    @media screen and (max-width: 480px) {
      margin: 0 auto;
    }
  }
  &__title {
    margin: 0 0 0 10px !important;
    text-align: center;
  }
  &__block {
    margin: 0 0 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
    @media screen and (max-width: 575px) {
      position: relative;
    }
  }

  &__button {
    margin: 0 12px 0 0;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    @media screen and (max-width: 575px) {
      position: absolute;
      top:42.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    @media screen and (max-width: 480px) {
      top: 36.5rem;
    }
    @media screen and (max-width: 320px) {
      top: 35rem;
    }
  }
  @media screen and (max-width: 1699px) {
    padding: 160px 100px 0;
  }
  @media screen and (max-width: 1199px) {
    padding: 120px 100px 0;
    &__title {
      margin: 0 0 18px 0 !important;
    }
    &__button {
      margin: 0;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 100px 80px 0;
    &__title {
      margin: 0 0 20px;
    }
    &__button {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 80px 60px;
  }
  @media screen and (max-width: 575px) {
    padding: 60px 40px;
  }
  @media screen and (max-width: 420px) {
    padding: 80px 40px 15px;
    &__button {
      font-size: 15px;
    }
  }
}