.regions-page-reviews {
  padding: 160px 148px;
  &__title {
    margin: 0 0 3.53rem;
    text-align: center;
  }
  &__card {
    margin: 0 1rem;
    padding: 30px 40px;
    min-height: 24.13rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color_white;
    &-text {
      font-size: 18px;
      line-height: 27px;
      &-span {
        cursor: pointer;
      }
      &--moved {
        transform: translateY(-3.5rem);
        cursor: pointer;
        @media screen and (max-width: 1499px) {
          transform: translateY(0);
        }
      }
    }
    &-block {
      display: flex;
      align-items: center;
    }
    &-img {
      width: 63px;
      border-radius: 50%;
    }
    &-title {
      margin: 0 0 0 20px;
      color: $color_black;
      font-size: 22px;
      line-height: 1em;
      font-family: 'Montserrat';
      font-weight: 500;
      &-span {
        font-weight: 700;
      }
    }

    @media screen and (max-width: 1699px) {
      padding: 20px;
      &-title {
        font-size: 1.2rem;
      }
    }
    @media screen and (max-width: 991px) {
      &-title {
        font-size: 1.15rem;
        font-weight: 600;
      }
      &-text {
        font-size: 1.15rem;
      }
    }
    @media screen and (max-width: 850px) {
      margin: 0 0.5rem;

      &-title {
        font-size: 1.12rem;
      }
      &-text {
        font-size: 1.1rem;
      }
    }
    @media screen and (max-width: 575px) {
      margin: 0 0.25rem;

      &-title {
        font-size: 1.1rem;
      }
      &-text {
        font-size: 1rem;
        line-height: 1.4em;
      }
    }
    @media screen and (max-width: 480px) {
      padding: 1.2rem;

      &-title {
        font-size: 1rem;
        line-height: 1em;
      }
      &-text {
        font-size: 0.9rem;
      }
    }
    @media screen and (max-width: 380px) {
      &-title {
        font-size: 0.9rem;
      }
    }
  }
  @media screen and (max-width: 1699px) {
    padding: 160px 100px;
  }
  @media screen and (max-width: 1199px) {
    padding: 120px 100px;
  }
  @media screen and (max-width: 991px) {
    padding: 100px 80px;
    &__title {
      margin: 0 0 20px;
    }
  }
  @media screen and (max-width: 420px) {
    padding: 80px 40px;
  }
}