.regions-page-style {
  padding: 160px 150px;
  background-color: $color_gray_banner2;
  &__title {
    margin: 0 0 4.27rem !important;
    text-align: center;
  }
  &__divider {
    width: 100%;
    margin: 32px 0 64px;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    width: 32%;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: $color_green_dark;
    &-title, &-text {
      color: $color_white;
    }
    &-title {
      margin: 0 0 0.67rem;
      font-size: 22px;
      font-family: 'Montserrat';
    }
    &-text {
      margin: 0;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@media screen and (max-width: 1699px) {
  .regions-page-style {
    padding: 160px 100px;
  }
}
@media screen and (max-width: 1199px) {
  .regions-page-style {
    padding: 120px 100px;
    &__card {
      width: 100%;
      padding: 18px 25px;
      margin-bottom: 10px;
    }
    &__card:last-child {
      margin-bottom: 0;
    }
    &__cards {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 991px) {
  .regions-page-style {
    padding: 100px 80px;
    &__card {
      padding: 15px 22px;
    }
  }
}
@media screen and (max-width: 767px) {
  .regions-page-style {
    padding: 80px 60px;
    &__card {
      &-title {
        font-size: 19px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .regions-page-style {
    padding: 60px 40px;
    &__card {
      &-title {
        font-size: 18px;
      }
    }
  }
}