.regions-page-description {
  padding: 5.33rem 5.33rem 4.5rem;
  &__divider {
    width: 100%;
    margin: 37px auto;
  }

  &__text {
    width: 75%;
    max-width: 76.87rem;
    margin: 0 auto 0.5rem;
    text-align: start;
  }

  &__title {
    width: 35%;
    margin: 0 auto 2.47rem !important;
    text-align: center;
    line-height: 1.33em;

    &-span {
      display: block;
    }
  }

  @media screen and (max-width: 1899px) {
    &__text {
      width: 60%;
    }
    &__title {
      width: 40%;
    }
  }
  @media screen and (max-width: 1699px) {
    &__title {
      width: 50%;
    }
  }
  @media screen and (max-width: 1399px) {
    &__text {
      width: 65%;
    }
    &__title {
      width: 60%;
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 4rem;
    &__text {
      width: 65%;
    }
    &__title {
      width: 70%;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 2.67rem;
    &__text {
      width: 78%;
    }
    &__title {
      width: 78%;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 2rem;
    &__text {
      width: 85%;
    }
    &__title {
      width: 92%;
    }
  }
  @media screen and (max-width: 649px) {
    &__title {
      width: 98%;
    }
  }
  @media screen and (max-width: 575px) {
    &__text {
      width: 100%;
    }
    &__title {
      width: 100%;
    }
  }
  @media screen and (max-width: 432px) {
    &__title {
      font-size: 24px !important;
      &-span {
        display: block;
      }
    }
  }
  @media screen and (max-width: 389px) {
    &__title {
      font-size: 21px !important;
    }
  }
  @media screen and (max-width: 359px) {
    &__title {
      font-size: 19px !important;
    }
  }
  @media screen and (max-width: 321px) {
    &__title {
      font-size: 23px !important;
    }
  }
}