.AdminPageContainer {
  min-height: 80vh;
  display: flex;
  margin-top: 5rem;
  width: 100%;
  .rightAdminScreen {
    margin: 2rem 0 0 14rem;
    padding-right: 2rem;
    width: 100%;

    .custom-switch {
      padding-left: 2.25rem;
    }

    .custom-control {
      position: relative;
      display: block;
      min-height: 1.5rem;
      padding-left: 1.5rem;
    }

    .custom-control-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .custom-control-labels {
      position: relative;
      margin-bottom: 0;
      vertical-align: top;
      &::before {
        content: "";
        position: absolute;
        box-shadow: inset 0px 2.8px 5.6px rgba(0, 0, 0, 0.15);
        height: 20px;
        width: 2.2rem;
        left: -1.6rem;
        border-radius: 1rem;
        border: none;
        top: 0;
        cursor: pointer;
        background-color: $color_white;
        transition: background-color 0.3s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        // background: blue;
        width: 16px;
        height: 16px;
        border-radius: 1rem;
        left: -1.4rem;
        top: 2px;
        cursor: pointer;
        background-color: #adb5bd;
        transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }

      &--active {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        &::before {
          content: "";
          position: absolute;
          box-shadow: inset 0px 2.8px 5.6px rgba(0, 0, 0, 0.15);
          height: 20px;
          width: 2.2rem;
          left: -1.6rem;
          border-radius: 1rem;
          border: none;
          top: 0;
          cursor: pointer;
          background-color: $color_green_dark;
          transition: background-color 0.3s ease-in-out;
        }
        &::after {
          content: "";
          position: absolute;
          // background: blue;
          width: 16px;
          height: 16px;
          border-radius: 1rem;
          left: -0.6rem;
          top: 2px;
          cursor: pointer;
          background-color: $color_white;
          transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }
      }
    }


    .custom-control-input:checked ~ .custom-control-label::before {
      border: $color_black;
      background-color: $color_green_dark;
    }

    .adminTitleSection {
      display: flex;
      justify-content: space-between;
    }
  }
}
