@import '../colors';

.onBoardingHebergements__legenge {
  margin-top: 6rem;
  padding-left: 1rem;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  p {
    font-size: 12px;
  }
  > div {
    display: flex;
    padding: 0 0.2rem;
  }
}

.onBoardingHebergements__calendar {
  padding: 3rem 2rem;
}

.onBoardingHebergements__addCalendar {
  color: $color_orange;
  text-decoration: underline;
  cursor: pointer;
}
