.tictactrip__banner {
  width: 100%;
  height: 280px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(53, 83, 77, 0.42) 12%, rgba(53, 83, 77, 0.42) 12%), url(../../../public/images/tictactrip/tictactrip_.jpeg);

  &-title {
    width: 50%;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: $color_white;
  } 

  &-img {
    max-width: 150px;
    padding: 0 0 0 15px;
  }

  &-btn {
    margin: 0 auto;
    display: block;
    appearance: unset;
    -webkit-appearance: unset;
    &:hover {
      color: $color_white;
    }
  }

  @media screen and (max-width: 1349px) {
    &-title {
      width: 60%;
      &--wide {
        width: 50%;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &-title {
      width: 70%;
      &--wide {
        width: 55%;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-title {
      width: 50%;
    }
  }
  @media screen and (max-width: 899px) {
    &-title {
      width: 60%;
    }
  }
  @media screen and (max-width: 767px) {
    &-title {
      width: 70%;
    }
  }
  @media screen and (max-width: 679px) {
    &-title {
      width: 100%;
    }
  }
  @media screen and (max-width: 499px) {
    height: 260px;
    padding: 20px;
    &-title {
      font-size: 18px;
    }
    &-img {
      max-width: 122px;
      padding: 0 0 0 12px;
    }
  }
  @media screen and (max-width: 399px) {
    padding: 15px;
    &-title {
      font-size: 17px;
    }
    &-img {
      max-width: 117px;
      padding: 0 0 0 12px;
    }
  }
}

.tictactrip__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;

  #tictactripWidgetBooking {
    height: 100vh;
    min-height: auto !important;
  }
}