
$degrees: 25deg;


.spinWithAcceleration{
  animation: spinWithAcceleration 2s ease infinite;
  animation-fill-mode: forwards;
}

@keyframes spinWithAcceleration {
  0%{
    transform: rotate($degrees); 
  }50%{
    transform: rotate($degrees * 14) scale(0.8);
  }75%{
    transform: rotate($degrees * 15) scale(1);
  }100%{
    transform: rotate($degrees * 15);
  }
}