.maps__infoCard{
  background-color: var(--color-white);
  box-shadow: 2px 2px 17px -5px rgba(0,0,0,.5);
  transform: translateX(-35%) translateY(-50%);
  padding-bottom: 0.5em;
}

.infoBox{
  width: auto !important;
  height: auto;
  transform: translateZ(0) translateX(-50%) translateY(-100%) !important;
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-top: 7px solid #fff;
  transform: translateX(0.5em) translateY(-2.5em);
}

.PopUpCustom{

  &-image{
    width: 139px;
    height: 100%;

    img{
      height: 89px;
      width: 139px;
      object-fit: cover;
    }
  }

  &-content{
    width: 80%;

    &--wide {
      width: 100%;
    }
  }
}

.searchMap .leaflet-popup{
  width: 400px !important;
  height: 109px;
  @media (min-width: 0px) and (max-width: 800px) {
    & {
      width: auto !important;
    }
  }
  &-content{
    margin: 0 !important;
    width: 100%  !important;
  }
}