@import '../../colors';

.search {
  &__date-input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    text-overflow: ellipsis;
    color: $color_gray;

    input::placeholder {
      color: $color_gray;
      font-size: 0.875rem;
    }

    input[type='button'] {
      text-align: left;
      padding: 0;
    }
  }

  &__icon-transparent{
    position: absolute;
    background-color: transparent;
    color: transparent;
    right: 0;
    top: 0;
    z-index: 999;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    text-overflow: ellipsis;
    ::-moz-selection {
      /* Code for Firefox */
      color: transparent;
      background: transparent;
    }
    ::selection {
      color: transparent;
      background: transparent;
    }
    input::placeholder {
      color: transparent;
      font-size: 0.875rem;
    }
  
    input[type='button'] {
      text-align: left;
      padding: 0;
    }
  
    ::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }
  
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
  /* Safari only override */
  ::i-block-chrome {
    input[type="date"]::before {
      content: attr(placeholder);
    }
  }
}
  


