.search{
  
  &-modal-dialog{
    max-width:1500px !important;
  }
  &-modal-body{
    img {
      height: 90vh;
      width: 100%;
      object-fit: cover;
    }
  }

  &__button-close{
    cursor: pointer;
  }
  
  }