@import '../../colors';

.list-card__container {
  margin-bottom: 2rem;
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.16);
  border-radius: 8.32898px;
}

.column--rooms {
  max-height: calc(100vh - 5rem);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #d3d3d3;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color_orange;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $color_orange, $alpha: 1);
  }
}

.custom-card__content {
  .card-region {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14.9922px;
    line-height: 136.4%;
  }
  .card-title {
    color: #363636 !important;
    font-size: 22px;
  }
  p {
    font-weight: 500 !important;
  }
  .number-persons {
    @media screen and (max-width: 630px) {
      display: none;
    }
  }
  .number-persons-responsive {
    @media screen and (max-width: 630px) {
      display: none;
    }
  }
  .person-logo {
    @media screen and (min-width: 630px) {
      display: none;
      font-weight: 500;
    }
  }
  .card-price {
    font-family: 'Montserrat';
    font-style: normal;

    font-size: 18.3238px;

    &-number {
      line-height: 136.4%;
      font-weight: 700;
    }
  }
}
