#google-map {
  //margin-top: 3em;
}

.search__container {
  padding-top: 5em;
  max-width: 100vw;
  @media (max-width: 1025px) {
    padding-top: 0em;
  }
}

.leaflet-top {
  z-index: 900 !important;
  @media (min-width: 0px) and (max-width: 1025px) {
    & {
      z-index: 1 !important;
    }
  }
}

.search-map-leaflet {
  &__container {
    height: calc(100vh - 5rem);
    width: auto;
    @media (min-width: 0px) and (max-width: 1025px) {
      & {
        height: 100vh;
        width: 100vw;
      }
    }
  }

  &__marker-responsive{
    display: flex;
    flex-direction: row;
    @media (min-width: 767px) and (max-width: 1025px) {
      &{
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
      }
  }
  }
}
