@import '../../colors';

.responsive-search {
  &__container {
    display: flex;
    // z-index: 10;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    // z-index: 99999;
    // position: fixed;
    // top: 80px;
    margin-top: 120px;
    padding: 0 12px;
  }
  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 40px;
    background-color: $color_white;
  }
  &__location-name {
    font-weight: 500;
    padding-left: 20px;
  }
  &__datetime {
    font-weight: 500;
    color: $color_gray;
    padding-left: 20px;
  }
  &__search-icon {
    background: $color_orange;
    color: $color_white;
    border-radius: 50px;
    padding: 7px;
    font-size: 10px;
    margin-left: 20px;
    .searh-text {
      font-weight: 700;
      font-size: 11.0204px;
      line-height: 60.33%;
    }
  }
  &__filter-icon {
    padding-left: 20px;
  }
  &__horizontal-divider {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: $color_gray;
  }
  &__vertical-divider {
    display: flex;
    width: 1px;
    height: 100%;
    background-color: $color_gray;
  }
  &__navbar {
    &--justified {
      justify-content: flex-end;
    }
  }
}

.responsive-change-search {
  &__container {
    display: flex;
    // z-index: 999;
    // position: absolute;
    // top: 0;

    margin: 100px 12px 0 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: $color_white;
    border-radius: 22.2464px;
    padding: 26px;
  }
  &__containeraction-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__container-inputs {
    display: flex;
    flex-direction: column;
    margin: 24px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 8px 5px $color_gray_medium;
    box-shadow: 1px 3px 8px 5px $color_gray_medium;
  }
  &__location-container {
    display: flex;
    align-items: center;
  }
  &__location-input {
    color: $color_gray;
    padding: 8px 0;
    border-style: none;
    outline: none;
    background-color: transparent;
    width: 80vw;
    height: 100%;
    text-overflow: ellipsis;
    font-weight: 500;
    &::placeholder {
      font-size: 0.85rem;
    }
    input[type='button'] {
      text-align: left;
      padding: 0;
    }
  }
  &__conditions-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__condition-icon {
    display: flex;
    width: min-content;
    padding: 15px;
  }
  &__condition-input {
    display: flex;
    min-width: 50%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__condition-text {
    color: $color_gray;
    padding: 8px 0;
    border-style: none;
    outline: none;
    margin-right: 10px;
    background-color: transparent;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.responsive-calendar {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $color_white;
    position: absolute;
    top: 0;
    z-index: 99999;
  }
  &__hidden {
    display: none;
  }
  &__closeicon_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  &__closeicon {
    padding-left: 20px;
  }
  &__title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__calendar-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 5px 0 5px;
  }
  &__month_container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 1.25rem;
    color: $color_green-titles;
    text-align: center;
  }
  &__calendar-style {
    width: 100% !important;
    border: none;
    border-style: none;
    button:disabled,
    button[disabled] {
      background-color: $color_gray_light;
      color: $color_gray;
    }
    button {
      background-color: $color_white;
      color: $color_black;
      border: solid 0.2px $color_black !important;
      &:hover {
        background-color: $color_gray !important;
      }
    }
    .date {
      display: inline-flex;
      height: 52px;
    }
    .date-disabled {
      color: $color_white;
      background-color: $color_green_text;
    }
    .date-price-custom {
      color: $color_gray;
      background-color: $color_green;
    }
    .rbc-day-bg.date-disabled {
      color: $color_gray;
      background-image: url('/images/cuadro.png');
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      object-fit: cover;
    }
    .rbc-day-bg.date-price-custom {
      color: $color_gray;
      background-color: $color_green;
    }
    .date-event {
      background-color: $color_green;
      color: $color_white;
    }
  }
  &__buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px;
  }
  &__button-more-months {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-style: none;
    background-color: $color_orange;
    color: $color_white;
    border-radius: 10px;
  }
  &__button-more-months-text {
    padding: 10px 30px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  &__button-del-dates {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-style: none;
    border-radius: 10px;
    background-color: transparent;
  }
  &__button-del-dates-text {
    padding: 10px 20px;
    color: $color_gray;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.responsive-filter {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $color_white;
    position: absolute;
    top: 0;
    z-index: 99999;
  }
  &__filter-label-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
  }
  &__filter-label-types-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.responsive-column-cards {
  &__container {
    margin-top: 0;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 100%;
  }
  &__line-button {
    display: flex;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: $color_gray;
  }
  &__location-text {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
  }
  &__horizontal-divider {
    display: flex;
    width: 100%;
    height: 2px;
    margin: 24px 0 0;
    border: none;
    border-style: none;
    border-radius: 10px;
    background-color: $color_gray;
  }
  &__cardlist-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0;
    max-height: calc(100% - 100px);
  }
  &__card {
    padding: 0 24px;
  }
  &__pagination {
    padding-bottom: 24px;
  }
}

.transition-responsive-map-search-enter {
  opacity: 0;
}
.transition-responsive-map-search-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.transition-responsive-map-search-exit {
  opacity: 1;
}
.transition-responsive-map-search-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
