@mixin max_height_740 {
  @media screen and (max-height: 740px) {
    &__img {
      width: 16rem;
    }
  }
}
@mixin max_height_740_B {
  @media screen and (max-height: 740px) {
    &__img {
      width: 18rem;
    }
  }
}
@mixin max_height_600 {
  @media screen and (max-height: 600px) {
    &__img {
      width: 13rem;
    }
  }
}

.form-search-map {
  .map-country {
    width: 8rem;
    text-overflow: ellipsis !important;
  }
  .map-time-input {
    width: 7rem;
    border: none;
  }
  &_input-content {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: space-around;
  }
}

.form-search-map_input-content {
  .CustomDatePicker {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    label {
      margin-bottom: 0;
    }
    &_icon {
      color: $color_gray;
      margin-left: 1rem;
      transform: translateY(0px);
    }
  }
}

.CustomDatePicker {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  label {
    margin-bottom: 0;
  }
  &_icon {
    color: $color_gray;
    margin-left: 1rem;
    transform: translateY(-9px);

    @media (max-width: 912px) {
      transform: translateY(-5px);
    }
  }

  &-form-control {
    padding: 0.375rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #dee2e6 !important;
  }

  &_icon-nomove {
    color: $color_gray;
    margin-left: 1rem;
  }
}

.custom-date-picker-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__wrapper,
  &__title,
  &__label {
    display: block;
  }

  &__title {
    display: block;
    padding: 0;
    text-align: start;
    font-size: 1.2rem !important;
    font-weight: 600;
    
    @media screen and (max-width: 575px) {
      font-weight: 700;
    }
    // @media screen and (max-width: 374px) {
    //   font-size: 1rem !important;
    // }
  }

  &__label {
    display: block;
    margin: 0;
    font-size: 1.2rem !important;
    font-weight: 500;
    color: $color_gray;
    
    @media screen and (max-width: 575px) {
      font-weight: 300;
      color: $color_gray_middle;
    }
    // @media screen and (max-width: 374px) {
    //   font-size: 1rem !important;
    // }
  }

  &__icon {
    color: $color_gray;

    @media screen and (max-width: 912px) {
      transform: translateY(3px);
    }
  }
}

.search-form {
  &__title {
    font-size: 1.2rem;
    @media screen and (max-width: 375px) {
      font-size: 1rem;
    }
  }

  &__autocomplete {
    font-size: 1.07rem;
    font-weight: 500;
    color: $color_gray;
    
    @media screen and (max-width: 912px) {
      font-size: 1.2rem;
      font-weight: 300;
      color: $color_gray_middle;
    }
  }
}


.search__arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  z-index: 9999;
  background-color: $color_white;
  border-radius: 50%;

  &--responsive {
    box-shadow: 2px 2px 3px $color_gray_medium;
  }
}

.redirection-modal {
  &__wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
  }
  &__content {
    background-color: transparent;
    border: none;
  }
  &__img {
    width: 719px;
  }
  @media screen and (max-width: 767px) {
    &__wrapper {
      top: 5.5%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &__content {
      align-items: center;
    }
    &__img {
      width: 20rem;
    }
    
    @include max_height_740;
    @include max_height_600;
  }
  @media screen and (max-width: 575px) {
    &__wrapper {
      top: 6.5%;
    }
    @include max_height_740;
    @include max_height_600;
  }
  @media screen and (max-width: 320px) {
    &__wrapper {
      top: 12%;
    }
    @include max_height_740_B;
  }
}
