@import '../colors';

.main-dropdown {
  &.is-active {
    .dropdown-menu {
      display: block;
    }
  }
  .dropDown-button {
    text-align: center;
    color: $color_orange;
    cursor: pointer;
    span {
      margin-right: 0.5rem;
    }
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
    .dropdown-item {
      cursor: pointer;
      padding: 0.6rem 0.8rem;
      &:hover {
        background-color: $color_orange;
        color: $color_white;
        transition: all 0.5s ease;
      }
    }
  }
}

.dropdown-item {
  &:active {
    background-color: $color_green_primary;
    color: $color_white;
    transition: all 0.5s ease;
  }
}
