.reusable-dropdown {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 200px;
    height: 40px;
  }
  &__option-container {
    display: flex;
    flex-direction: column;
  }
  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
  }
}
