@import './../colors';

.ar-establishment-card {
  transition: all ease 300ms;
  width: fit-content;
  padding: 1rem;
  box-shadow: 0px 15px 30px -5px #808080aa;
  border-radius: 8px;
  margin: 0 0.5rem;
  padding: 0 auto;
  &:hover {
    transform: scale(1.05);
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &.is-selected {
    background-color: $color_green_text;
    p {
      color: $color_white !important;
    }
  }

  img {
    border-radius: 8px;
    width: 120px;
    height: 120px;
  }
  p {
    margin-top: 0.5rem;
  }
}

.ar-title {
  color: $color_green_dark !important;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 20px;
}
