.newsletter-container {
  @extend .container-footer;
  max-height: 35.47rem;
  padding: 4.47rem 29rem;
  background-color: $color_brown_soft;

  &__icon {
    display: block;
    width: 8.13rem;
    margin: 0 auto;
  }

  &__title {
    margin: 3rem 0;
    font-size: 2.67rem;
    font-weight: 700;
    line-height: 3.3rem;
    text-align: center;
    color: $color_full_black;
  }

  &__text {
    text-align: center;
    font-size: 1.13rem;
    line-height: 1.38rem;
    color: $color_border_step;
  }

  &__newsletter {
    &-input {
      width: 39.67rem;
      height: 4.46rem;
      margin: 2.13rem;
    }
  }
  .footer-first-row {
    justify-content: center;
  }
  .container-inscription {
    width: 100%;

    &-button {
      width: 10.93rem;
    }
  }

  @media screen and (max-width: 1799px) {
    padding: 4.47rem 17rem;
    &__title {
      font-size: 1.9rem;
    }
  }
  @media screen and (max-width: 1199px) {
    max-height: unset;
    padding: 2.5rem 8rem;
    &__title {
      margin: 1.5rem 0;
    }
  }
  @media screen and (max-width: 991px) {
    max-height: unset;
    padding: 2rem 6rem;
    &__title {
      font-size: 1.5rem;
    }
  }
}