.footer__hero-img {
  margin: 0;
  
  &--spaced {
    margin: 6px 7px 0;
  }
}

.footer__hero {
  &-subcontainer {
    height: 100%;
  }
  &-container {
    height: 14vh;

    @media screen and (max-height: 600px) {
      display: none;
    }
  
    @media screen and (max-width: 1211px) {
      height: 20vh;
    }
  }

}