.go-further {
  &__links {
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 991px) {
      height: auto;
      flex-direction: row;
    }

    @media (max-width: 900px) {
      height: 333px;
      flex-direction: column;
    }

    @media (max-width: 516px) {
      height: 480px;
    }
  }

  &__card-wrapper {
    @media (max-width: 991px) {
      width: 280px !important;
    }

    @media (max-width: 900px) {
      width: 100% !important;
    }
  }

  &__card-img,
  .image__sizes {
    object-fit: cover;
    @media (max-width: 991px) {
      width: 280px !important;
    }

    @media (max-width: 516px) {
      width: 100% !important;
    }
  }

  &__card-body {
    padding-right: 0 !important;
  }

  &__box-text {
    width: 23rem;
    @media (max-width: 900px) {
      padding-left: 10px;
    }
  }

  &__box-img {
    object-fit: cover;

    @media (max-width: 516px) {
      width: 100%;
    }
  }

  &__card-content {
    flex-direction: row;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 900px) {
      height: 113px !important;
      flex-direction: row;
      align-items: center !important;
    }

    @media (max-width: 516px) {
      height: auto !important;
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
}
