.home-room__slider {
  padding: 0 0.25rem 0 0.75rem;

  @media (max-width: 1400px) {
    padding: 0 0.75rem;
  }
}

.hero__first-room-slider {
  &-title {
    @media screen and (max-width: 575px) {
      text-align: center !important;
    }
  }

  @media (max-width: 1399px) {
    .slick-next {
      transform: translateX(-40px) rotate(180deg);
    }
    .slick-prev {
      transform: translateX(40px);
      z-index: 998;
    }
  }
  @media (max-width: 575px) {
    .slick-next {
      transform: translateX(-30px) rotate(180deg);
    }
    .slick-prev {
      transform: translateX(40px);
    }
  }
  @media (max-width: 499px) {
    .slick-next {
      transform: translateX(-70px) rotate(180deg);
    }
    .slick-prev {
      transform: translateX(80px);
    }
  }
  @media (max-width: 475px) {
    .slick-next {
      transform: translateX(-50px) rotate(180deg);
    }
    .slick-prev {
      transform: translateX(60px);
    }
  }
  @media (max-width: 419px) {
    .slick-next {
      transform: translateX(-30px) rotate(180deg);
    }
    .slick-prev {
      transform: translateX(40px);
    }
  }
  @media (max-width: 365px) {
    .slick-next {
      transform: translateX(-10px) rotate(180deg);
    }
    .slick-prev {
      transform: translateX(20px);
    }
  }
}