.hero__image {
  &-img {
    width: 34.13rem;
    transform: translateX(-0.45rem);
  }
  &-search-form {
    .fa-calendar-alt {
      opacity: 0;
    }

    .custom-date-picker-search__label {
      font-size: 1.07rem !important;
      font-weight: 500;
      color: $color_gray;
      
      @media screen and (max-width: 912px) {
        font-size: 1.2rem;
        font-weight: 300;
        color: $color_gray_middle;
      }
    }
  }

  &-search-button {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-51%, -50%);
    
    @media screen and (max-width: 912px) {
      left: unset;
      right: 1.2rem;
      transform: translate(0, -50%);
    }

    &-text {
      color: $color_white;
    }
  }

  @media screen and (max-height: 700px) {
    &-img {
      width: 20rem;
    }
  }
  @media screen and (max-width: 1699px) {
  }
  @media screen and (max-width: 912px) {
    &-img {
      width: 26vh;
    }
  }
  @media screen and (max-width: 767px) {
    &-img {
      width: 25vh;
    }
  }
  @media screen and (max-width: 575px) {
    &-img {
      width: 16.33rem;
    }
  }
}