.our-spirit {
  &__container {
    padding: 5.13rem 4rem;
    background-color: var(--color-yellow-light);
  }

  &__content {
    padding: 4.86rem 9.5rem;
    border-radius: 1.33rem;
    text-align: center;
    background-color: $color_green_dark;
    color: $color_white;

    &-btn {
      margin: 5.5rem 0 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 4.5rem 0 0;
    padding: 0;
    list-style: none;

    &-img {
      width: 4.67rem;
    }

    &-subtitle, &-text {
      font-family: $font-primary;
      font-size: 1.33rem;
      font-style: normal;
      color: $color_white;
    }
    
    &-subtitle {
      margin: 1.87rem 0;
      font-weight: 700;
    }

    &-text {
      margin-bottom: 0;
    }
  }
  
  &__title {
    &-wrapper {
      width: 100%;
      padding: 0 7.37rem;
      & p:first-of-type {
        margin: 0;
      }
    }
    &-text {
      margin: 0 0 4rem 0;
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 5rem;
      color: $color-white;
    }
  }

  &__main-text {
    font-family: $font-primary;
    font-size: 1.67rem;
    font-weight: 400;
    line-height: 2rem;
    color: $color_white;
  }

  &__button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-family: $font-primary;
    font-weight: 600;
    color:$color_white;
    background-color: $color_white;
  }

  @media screen and (min-width: 1600px) {
    @media screen and (max-height: 1050px) {
      &__content {
        max-height: calc(100vh - 7.3rem);
        padding: 3rem;
        &-btn {
          margin: 2rem 0 0;
        }
      }
      &__list {
        margin: 1.5rem;
        &-subtitle, &-text {
          font-size: 1rem;
        }
      }
      &__title {
        &-wrapper {
          padding: 0;
        }
        &-text {
          margin: 0 0 2rem 0;
          font-weight: 600;
          font-size: 6vh;
          line-height: 3.5rem;
        }
      }
      &__main-text {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }
    }
    @media screen and (max-height: 750px) {
      &__content-btn {
        margin: 1rem 0 0;
      }
    }
    @media screen and (max-height: 750px) {
      &__content {
        padding: 2rem;
      }
      &__title {
        &-text {
          margin: 0 0 1rem 0;
        }
      }
    }
    @media screen and (max-height: 640px) {
      &__content {
        max-height: unset;
      }
    }
  }
  @media screen and (max-width: 1599px) {
    &__title {
      &-wrapper {
        padding: 0 5rem;
      }
      &-text {
        font-size: 4rem;
      }
    }
    @media screen and (max-height: 1050px) {
      &__content {
        max-height: calc(100vh - 7.3rem);
        padding: 3rem;
        &-btn {
          margin: 2rem 0 0;
        }
      }
      &__list {
        margin: 1.5rem;
        &-subtitle, &-text {
          font-size: 1rem;
        }
      }
      &__title {
        &-wrapper {
          padding: 0;
        }
        &-text {
          margin: 0 0 2rem 0;
          font-weight: 600;
          font-size: 6vh;
          line-height: 3.5rem;
        }
      }
      &__main-text {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }
    }
    @media screen and (max-height: 750px) {
      &__content {
        padding: 1.5rem 1.8rem;
      }
    }
    @media screen and (max-height: 750px) {
      &__content-btn {
        margin: 0;
      }
      &__title {
        &-text {
          margin: 0 0 1rem 0;
        }
      }
      &__list-subtitle {
        margin: 1rem 0;
      }
    }
    @media screen and (max-height: 635px) {
      &__content {
        max-height: unset;
      }
    }
  }
  @media screen and (max-width: 1399px) {
    &__content {
      padding: 4.86rem 7rem;
    }
    &__title {
      &-wrapper {
        padding: 0 3rem;
      }
      &-text {
        font-size: 3.8rem;
      }
    }
    &__main-text {
      font-size: 1.5rem;
    }

    @media screen and (max-height: 1200px) {
      &__title {
        &-text {
          margin: 0 0 2rem 0;
          font-weight: 600;
          font-size: 6vh;
          line-height: 3.5rem;
        }
      }
      &__content {
        padding: 3rem;
        &-btn {
          margin: 2rem 0 0;
        }
      }
      &__main-text {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }
    }
    @media screen and (max-height: 770px) {
      &__content {
        padding: 1.5rem 1.8rem;
        &-btn {
          margin: 0;
        }
      }
      &__title-text {
        margin: 0 0 1rem;
      }
      &__main-text {
        font-size: 1.05rem;
        font-weight: 300;
        line-height: 1.2rem;
      }
      &__list-text {
        line-height: 1.3em;
      }
    }
    @media screen and (max-height: 635px) {
      &__content {
        max-height: unset;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    &__content {
      padding: 4rem;
    }
    &__title {
      &-wrapper {
        padding: 0 2rem;
      }
      &-text {
        font-size: 3.6rem;
      }
    }
    &__main-text {
      font-size: 1.4rem;
    }
    @media screen and (max-height: 1050px) {
      &__content {
        max-height: calc(100vh - 7.3rem);
        padding: 3rem;
        &-btn {
          margin: 1.5rem 0 0;
        }
      }
      &__list {
        margin: 1rem 0;
        &-subtitle, &-text {
          font-size: 1rem;
        }
      }
      &__title {
        &-wrapper {
          padding: 0;
        }
        &-text {
          margin: 0 0 2rem 0;
          font-weight: 600;
          font-size: 5.5vh;
          line-height: 3.5rem;
        }
      }
      &__main-text {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }
    }
    @media screen and (max-height: 750px) {
      &__content {
        padding: 2rem;
        &-btn {
          margin: 1rem 0 0;
        }
      }
      &__list-subtitle, &__list-text {
        font-size: 0.9rem;
        line-height: 1rem;
      }
      &__main-text {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.1rem;
      }
    }
    @media screen and (max-height: 635px) {
      &__content {
        max-height: unset;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__content {
      padding: 2rem 3rem;

      &-btn {
        margin: 0 auto;
      }
    }
    &__title {
      &-wrapper {
        padding: 0 1.5rem;
      }
      &-text {
        font-size: 2.8rem;
        line-height: 3.4rem;
      }
    }
    &__main-text {
      font-size: 1.2rem;
      line-height: 1.1em;
    }
    &__list {
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
    }
    @media screen and (max-height: 1050px) {
      &__content {
        max-height: unset;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__content {
      padding: 2.5rem;
    }
    &__title {
      &-wrapper {
        padding: 0 1.2rem;
      }
      &-text {
        font-size: 2.5rem;
      }
    }
    &__main-text {
      font-size: 1.25rem;
    }
  }
  @media screen and (max-width: 575px) {
    &__container {
      padding: 2.67rem 1.86rem;
    }
    &__content {
      padding: 1.33rem 1.33rem 3.13rem;
    }
    &__list {
      margin: 1rem 0 2.4rem;
      &-text {
        font-size: 1.13rem;
        line-height: 1.38rem;
      }
      &-subtitle {
        font-size: 1.33rem;
        line-height: 1.2em;
      }
      &-img {
        width: 6rem;
      }
      
    }
    &__title {
      &-wrapper {
        padding: 0;
        & p:first-of-type {
          margin: 0 0 1rem;
        }
      }
      &-text {
        margin: 0 0 2.53rem 0;
        font-size: 2.6rem;
        line-height: 3.56rem;
      }
    }
    &__main-text {
      font-size: 1.133rem;
      line-height: 1.38rem;
    }
  }
  @media screen and (max-width: 366px) {
    &__content {
      padding: 1.25rem;
    }
    &__list {
      &-text {
        font-size: 1.13rem;
        line-height: 2.25rem;
      }
    }
    &__title {
      &-wrapper {
        padding: 0;
      }
      &-text {
        margin: 0 0 2.5rem 0;
        font-size: 2rem;
        line-height: 2.25rem;
      }
    }
  }
}