.container-footer {
  /* margin: 0 80px; */
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 0 4rem 0 0;

    &-text {
      margin: 1rem 0;
    }
  }
  
  &__menus {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0 0 0 4rem;
  }

  @media screen and (max-width: 1599px) {
    &__info {
      padding: 0 2rem 0 0;
    }
    &__menus {
      padding: 0 0 0 2rem;
    }
  }
  @media screen and (max-width: 991px) {
    .footer-secod-row {
      flex-direction: column;
      align-items: center;
    }
    &__info {
      align-items: center;
      margin: 0 0 1rem;
      padding: 0;

      &-text {
        text-align: center;
      }
    }
    &__menus {
      flex-direction: column;
      padding: 0;
    }
    &__menu-title, &__menu-link {
      display: block;
      text-align: center;
    }
  }

  .footer-hr1 {
    margin-bottom: 50px;
    margin-top: 0;
  }
  @media screen and (min-width: 767px) and (max-width: 1082px) {
    .footer-hr2 {
      margin-top: 50px;
      margin-bottom: 0;
    }
  }
  .footer-secod-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    .networks-container {
      display: inline-block;
    }
  }
  h3 {
    font-size: 30px;
    margin: 0;
    line-height: 30px;
  }
  h4 {
    margin-bottom: 25px;
    color: var(--bs-white);
    font-family: var(--font-fraunces);
    font-size: clamp(13px, 1.8vw, 20px);
  }
  ul {
    padding: 0;
  }
  ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 15px;
    a {
      text-decoration: none;
    }
  }
  .footer-last-row {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    p {
      margin: 0 !important;
      font-size: 13px;
    }
    a {
      font-size: 15px;
      text-decoration: none;
    }
  }
  .container-inscription {
    position: relative;
    display: flex;
  }
  .container-inscription-input {
    width: 100%;
    border: 1px solid $color_black;
    border-radius: 100px;
    padding: 10px 150px 10px 20px;
    line-height: 1.8em;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
  }
  .container-inscription-button {
    margin: 0;
    padding: 0 30px;
    border-radius: 100px;
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    border: 0;
    z-index: 2;
    outline: none;
    background: $color_orange;
    color: $color_white;
    cursor: pointer;
    font-weight: 600px;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
    &:hover {
      background: rgba($color_orange, 0.7);
    }
    &--disabled {
      @extend .container-inscription-button;
      cursor: wait;
      background-color: $color_gray;
      &:hover {
        background: $color_gray;
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1082px) {
  .container-footer {
    .footer-first-row {
      .container-inscription {
        width: 100%;
        height: 70% !important;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container-footer {
    &__info {
      width: 100%;
    }
    .footer-first-row {
      .responsive-margin-top {
        margin-top: 0 !important;
      }
      h3 {
        text-align: center;
        font-size: x-large;
      }
      .container-inscription {
        width: 100%;
      }
    }
    .footer-secod-row {
      flex-direction: column;
      p {
        justify-content: center;
        text-align: center;
        display: flex;
      }
      .networks-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        .social-network-icon-container {
          margin: auto 10px;
        }
      }
      .menus-container {
        display: inline-grid;
        justify-content: center;
        h4,
        ul {
          text-align: center;
        }
        h4 {
          font-size: 18px;
        }
      }
    }
    .footer-last-row {
      .center-row {
        justify-content: center !important;
        display: flex !important;
      }
    }
  }
}

.footer-green {
  background-color: $color_green_dark;
  color: $color_white !important;
  h3 {
    color: $color_white;
  }
  p {
    color: $color_white;
  }
  a {
    color: $color_white;
  }
  .social-network-icon-container {
    display: inline-block;
    margin-right: 20px;
    background-color: $color_orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    .icon {
      color: $color_white;
      margin-top: 5px;
    }
    .facebook {
      width: 13px;
      height: 20px;
    }
    .instagram {
      width: 18px;
      height: 20px;
    }
    .pinterest {
      width: 18px;
      height: 20px;
    }
  }
}
.footer-gray {
  background-color: $color_gray !important;
  color: $color_white !important;
  h3 {
    color: $color_white;
  }
  p {
    color: $color_white;
  }
  a {
    color: $color_white;
  }
  .social-network-icon-container {
    display: inline-block;
    margin-right: 20px;
    background-color: $color_orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    .icon {
      color: $color_white;
      margin-top: 5px;
    }
    .facebook {
      width: 13px;
      height: 20px;
    }
    .instagram {
      width: 18px;
      height: 20px;
    }
    .pinterest {
      width: 18px;
      height: 20px;
    }
  }
}