.cart-cadeau-page-activities {
  &__activities {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    width: 48.5%;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-text {
      font-size: 22px;
      font-family: 'Fraunces';
      font-weight: 600;
      color: $color_white;
    }
    &-wrapper-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color_brown_light;
    }
    &-icon {
      width: 20px;
      height: 20px;
      color: $color_white;
    }
  }

  @media screen and (max-width: 991px) {
    &__activities {
      flex-direction: column;
    }
    &__block {
      width: 100%;
      height: 400px;
      margin: 12px 0 0 0;
    }
  }
  @media screen and (max-width: 520px) {
    &__block {
      height: 300px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}