.cart-cadeu-home {
  width: 100%;
  height: 260px;
  margin: 40px 0 0 0;
  padding: 0 247px 0 562px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_green_dark;
  overflow-y: hidden;

  &__img {
    position: absolute;
    bottom: -1.7rem;
    left: 171px;
  }

  &__title, &__text {
    color: $color_white;
  }
  &__title {
    margin: 0 0 6px 0;
    font-size: 2.67rem;
    line-height: 1.1em;
  }
  &__text {
    max-width: 596px;
  }

  &__btn {
    width: 300px;
    padding: 12px;
    text-decoration: none;
  }

  @media screen and (max-width: 1799px) {
    padding: 0 100px 0 491px;
    &__block {
      margin: 0 70px 0 0;
    }
    &__img {
      width: 300px;
      position: absolute;
      left: 100px;
    }
  }
  @media screen and (max-width: 1499px) {
    padding: 0 80px 0 420px;
    &__block {
      margin: 0 60px 0 0;
    }
    &__img {
      width: 270px;
      position: absolute;
      left: 80px;
    }
  }
  @media screen and (max-width: 1399px) {
    padding: 40px 80px 40px 420px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    &__block {
      margin: 0 0 15px;
    }
    &__text {
      max-width: unset;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 40px 80px;
    align-items: flex-start;
    &__block {
      margin: 0 0 15px;
    }
    &__btn {
      width: 17.33rem;
      margin: 0 auto 13rem;
    }
    &__title {
      margin: 0 0 1.2rem;
      text-align: center;
    }
    &__img {
      width: 21.87rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 767px) {
    &__title-span {
      display: block;
    }
  }
  @media screen and (max-width: 575px) {
    padding: 3rem 2.67rem;
  }
  @media screen and (max-width: 479px) {
    padding: 3rem 1.87rem;
    &__btn {
      // min-width: 19rem;
    }
  }
  @media screen and (max-width: 355px) {
    &__btn {
      margin: 0 auto 8rem;
    }
    &__title {
      font-size: 1.75rem;
    }
    &__img {
      width: 13.33rem;
    }
  }
}