.cart-cadeu-page-justify {
  padding: 100px 320px;
  background-color: $color_gray_banner;
  &__title {
    text-align: center;
    &-span {
      display: block;
    }
  }
  &__blocks {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
  }
  &__block {
    height: 240px;
    padding: 30px 30px 30px 125px;
    border-radius: 10px;
    position: relative;
    background-color: $color_green_dark;
    &-wrapimg {
      width: 65px;
      height: 65px;
      border-radius: 10px;
      background-color: $color_orange;
      position: absolute;
      top: 30px;
      left: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-img {
      &--rectangular {
        width: 40px;
        height: 30px;
      }
      &--square {
        width: 35px;
        height: 35px;
      }
      &--circular {
        width: 40px;
        height: 35px;
      }
    }
    &-title, &-text {
      color: $color_white;
    }
    &-text {
      margin: 0;
    }
    &-title {
      font-family: 'Montserrat';
      margin-bottom: 0 0 7.5px 0;
    }
  }
  &__block {
    @media screen and (max-width: 399px) {
      .cart-cadeu-page-justify__block-title {
        margin-bottom: 2rem;
      }
    }
    @media screen and (max-width: 320px) {
      .cart-cadeu-page-justify__block-title {
        margin-bottom: 2rem !important;
      }
    }
  }
  &__block:nth-child(1) {
    @media screen and (max-width: 356px) {
      .cart-cadeu-page-justify__block-title {
        margin-bottom: 0.65rem;
      }
    }
  }
  &__block:nth-child(3), &__block:nth-child(4) {
    @media screen and (max-width: 373px) {
      .cart-cadeu-page-justify__block-title {
        margin-bottom: 0.65rem;
      }
    }
  }

  @media screen and (max-width: 1914px) {
    padding: 100px 200px;
  }
  @media screen and (max-width: 1699px) {
    padding: 100px 150px;
  }
  @media screen and (max-width: 1599px) {
    padding: 100px;
  }
  @media screen and (max-width: 1499px) {
    padding: 100px 90px;
    &__block {
      height: 250px;
      &-text {
        font-size: 17px;
        line-height: 25px;
      }
    }
    &__blocks {
      gap: 25px;
    }
  }
  @media screen and (max-width: 1399px) {
    padding: 90px;
  }
  @media screen and (max-width: 1299px) {
    padding: 80px 50px;
  }
  @media screen and (max-width: 1199px) {
    &__block {
      height: 200px;
    }
    &__blocks {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      gap: 25px;
    }
  }
  @media screen and (max-width: 991px) {
    &__block {
      height: 220px;
    }
  }
  @media screen and (max-width: 767px) {
    &__title-span {
      display: inline;
    }
    &__block {
      padding: 15px 15px 15px 70px;
      &-wrapimg {
        width: 40px;
        height: 40px;
        top: 15px;
        left: 15px;
      }
      &-img {
        &--rectangular {
          width: 30px;
          height: 23px;
        }
        &--square {
          width: 30px;
          height: 30px;
        }
        &--circular {
          width: 30px;
          height: 26px;
        }
      }
      &-text {
        font-size: 16px;
        line-height: 22px;
      }
      &-title {
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    padding: 60px 40px;
    &__block {
      height: 275px;
      &-text {
        font-size: 15px;
        line-height: 20px;
      }
      &-title {
        font-size: 17px;
      }
    }
  }
  @media screen and (max-width: 399px) {
    padding: 60px 40px;
    &__block {
      padding: 15px;
      &-wrapimg {
        margin: 0 15px 0 0;
        position: static;
        float: left;
      }
      &-text {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    &__block {
      height: 240px;
    }
  }
}