.cart-cadeu-page-hero {
  display: flex;
  justify-content: space-between;
  padding: 185px 151px;
  &__wrapper-text {
    width: 48%;
    padding: 40px 77px 40px 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
      margin: 0 0 30px 0;
      text-align: start;
    }
    &-text {
      margin: 0 0 30px 0;
    }
    &-span {
      display: block;
    }
    &-button {
      width: 343px;
      font-size: 18px;
      padding: 12px 30px;
    }
  }
  &__wrapper-images {
    width: 794px;
    display: grid;
    gap: 28px;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    &-img:nth-child(1) {
      width: 383px;
      height: 510px;
      grid-row: 1 / span 2;
      grid-column: 1;
    }
    &-img:nth-child(2) {
      width: 383px;
      height: 241px;
      grid-row: 1;
      grid-column: 2;
    }
    &-img:nth-child(3) {
      width: 383px;
      height: 241px;
      grid-row: 2;
      grid-column: 2;
    }
  }
  
  @media screen and (max-width: 1799px) {
    padding: 185px 140px 150px;
    &__wrapper-text {
      padding: 40px 90px;
      &-button {
        width: 70%;
        font-size: 17px;
      }
    }
    &__wrapper-images {
      width: 720px;
      &-img:nth-child(1), &-img:nth-child(2), &-img:nth-child(3)  {
        width: 346px;
      }
    }
  }
  @media screen and (max-width: 1599px) {
    padding: 185px 110px 150px;
    &__wrapper-text {
      padding: 40px 80px;
      &-button {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 1499px) {
    padding: 185px 90px 150px;
    &__wrapper-text {
      padding: 30px 60px;
    }
    &__wrapper-images {
      width: 640px;
      &-img:nth-child(1), &-img:nth-child(2), &-img:nth-child(3)  {
        width: 306px;
      }
    }
  }
  @media screen and (max-width: 1349px) {
    padding: 185px 70px 150px;
    &__wrapper-text {
      padding: 20px 50px;
      &-button {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 185px 60px 120px;
    &__wrapper-text {
      padding: 15px 20px 15px 15px;
    }
    &__wrapper-images {
      width: auto;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      &-img:nth-child(1), &-img:nth-child(2), &-img:nth-child(3)  {
        width: 420px;
        max-height: 200px;
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 185px 50px 100px;
    &__wrapper-text {
      &-button {
        font-size: 15px;
        padding: 12px 15px;
      }
    }
    &__wrapper-images {
      &-img:nth-child(1), &-img:nth-child(2), &-img:nth-child(3)  {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 120px 50px 80px;
    flex-direction: column;
    &__wrapper-text, &__wrapper-images {
      width: 100%;
    }
    &__wrapper-text {
      padding: 15px 0 22px;
      &-button {
        width: 60%;
      }
    }
  }
  @media screen and (max-width: 575px) {
    padding: 120px 40px 60px;
    &__wrapper-text {
      &-button {
        width: 100%;
      }
    }
  }
}