.cart-cadeau-page-experience {
  padding: 160px 0 170px;
  &__title {
    text-align: center;
    margin: 0 0 18px;
  }
  &__wrapper-text {
    padding-bottom: 88px;
  }
  &__divider {
    width: 100%;
    margin: 12px 0;
  }
  &__text {
    width: 40%;
    margin: 18px auto 30px;
    text-align: center;
    &-span {
      display: block;
      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__btn {
    width: 24rem;
    margin: 12px auto;
    padding: 12px 30px;
    display: block;
    appearance: none;
    -webkit-appearance: none;
  }
  &__images {
    width: 300px;
    height: 300px;
    padding: 0 15px;
  }
  &__img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 10px;
    object-fit: cover;
  }
  @media screen and (max-width: 1199px) {
    padding: 120px 0;
  }
  @media screen and (max-width: 991px) {
    padding: 80px 0;
    &__text {
      width: 70%;
    }
  }
  @media screen and (max-width: 575px) {
    padding: 60px 0;
    &__title {
      width: auto;
      margin: 0 40px;
      padding: 0;
    }
    &__btn {
      width: auto;
      margin: 0 40px;
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 479px) {
    &__text {
      width: 90%;
    }
  }
  @media screen and (max-width: 361px) {
    &__btn {
      margin: 0 16px;
    }
  }
}