.cart-cadeau-main-subtitle {
  font-size: 45px;
  line-height: 55px;
}
.cart-cadeau-secondary-subtitle {
  margin: 0 0 40px 0;
  font-size: 40px;
  line-height: 49px;
}

.cart-cadeau-text {
  font-size: 18px;
  line-height: 27px;
}

.cart-cadeau-btn {
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  appearance: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 1199px) {
  .cart-cadeau-main-subtitle {
    font-size: 40px;
    line-height: 48px;
  }
  .cart-cadeau-secondary-subtitle {
    font-size: 38px;
    line-height: 45px;
  }
}
@media screen and (max-width: 991px) {
  .cart-cadeau-main-subtitle {
    font-size: 35px;
    line-height: 42px;
  }
  .cart-cadeau-secondary-subtitle {
    font-size: 32px;
    line-height: 39px;
  }
  .cart-cadeau-text {
    font-size: 17px;
    line-height: 25px;
  }
}
@media screen and (max-width: 767px) {
  .cart-cadeau-main-subtitle {
    font-size: 32px;
    line-height: 38px;
  }
  .cart-cadeau-secondary-subtitle {
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (max-width: 575px) {
  .cart-cadeau-main-subtitle {
    font-size: 30px;
    line-height: 35px;
  }
  .cart-cadeau-secondary-subtitle {
    font-size: 28px;
    line-height: 33px;
  }
  .cart-cadeau-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 479px) {
  .cart-cadeau-main-subtitle {
    font-size: 28px;
    line-height: 32px;
  }
  .cart-cadeau-secondary-subtitle {
    font-size: 26px;
    line-height: 30px;
  }
}