.inputMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-radius: 25px;

  input {
    outline: none;
    border: none;
    margin-left: 1em;
    width: 80%;
  }

  svg {
    width: 25px;
  }
}

.chatContainer {
  height: 100vh;
  overflow-y: auto;
}
