@mixin max_width_991 {
  @media screen and (max-width: 991px) {
    padding: 4rem !important;
  }
}
@mixin max_width_575 {
  @media screen and (max-width: 575px) {
    padding: 2rem !important;
    &__card {
      width: 90% !important;
      padding: 1rem 2rem 0.5rem;
    }
  }
}
@mixin max_width_575_B {
  @include max_width_575;
  @media screen and (max-width: 575px) {
    &__logo {
      width: 10rem;
    }
  }
}
@mixin max_width_767 {
  @media screen and (max-width: 767px) {
    &__card {
      width: 30rem !important;
    }
  }
}
@mixin max_width_429 {
  @media screen and (max-width: 429px) {
    padding: 2rem 1rem !important;
    &__card {
      width: 100% !important;
    }
    &__logo {
      width: 8rem;
      margin: 0 auto 1.15rem;
    }
  }
}
@mixin max_width_349 {
  @media screen and (max-width: 349px) {
    &__card {
      padding: 1rem 1.25rem 0.5rem;
    }
    &__input {
      font-size: 0.75rem;
    }
  }
}
@mixin max_width_320 {
  @media screen and (max-width: 320px) {
    &__wrapper {
      height: 135vh;
    }
  }
}

.container-login {
  padding: 6.93rem 8.33rem 9.33rem !important;
  &__logo {
    display: block;
    width: 30rem;
    margin: 0 auto 4.53rem;
    &--internal {
      @extend .container-login__logo;
    }
    &--register {
      margin: 21.13rem 0 0;
      @media screen and (max-width: 1199px) {
        display: block;
        width: 15rem;
        margin: 2rem auto 0;
      }
      @media screen and (max-width: 575px) {
        width: 10rem;
      }
    }
  }

  &__title {
    margin: 0 0 2.13rem !important;
    text-align: center;
    font-size: 2.67rem !important;
    font-weight: 700;
    line-height: 1.1em !important;
    &-span {
      display: block;
      color: $color_green_dark !important;
    }
  }

  &__wrapper {
    height: 100vh;
    background-image: url('../../../public/images/login/login_bg_1.png');
    background-size: cover;
    background-repeat: no-repeat;

    &--register {
      height: auto;
    }
  }
  &__label {
    &--bold {
      font-weight: 700;
    }
  }

  &-left {
    height: auto !important;
    min-height: unset;
    padding: 6.93rem 0 6.93rem 10rem !important;

    @media screen and (max-width: 1199px) {
      padding: 4rem 4rem 0 !important;
    }
    @media screen and (max-width: 750px) {
      display: block;
    }
  }

  &__card {
    width: 44.07rem !important;
    padding: 2rem 4rem 1rem;
  }
  &__links {
    margin: 1.5rem 0;
  }
  &__final-question {
    margin: 0;
    font-weight: 500;
  }
  @include max_width_991;
  @include max_width_767;
  @include max_width_575_B;

  @media screen and (max-height: 1060px) {
    padding: 5rem 7rem !important;
    &__logo {
      width: 20rem;
    }
    &__title {
      font-size: 2.25rem !important;
    }
    @include max_width_991;
    @include max_width_767;
    @include max_width_575;
    @include max_width_429;
    @include max_width_320;
  }
  @media screen and (max-height: 960px) {
    padding: 4rem 6rem !important;
    &__logo {
      width: 16rem;
      margin: 0 auto 3rem;
    }
    &__title {
      font-size: 2rem !important;
    }
    @include max_width_991;
    @include max_width_575;
    @include max_width_429;
    @include max_width_320;
  }
  @media screen and (max-height: 860px) {
    padding: 3rem 5rem !important;
    &__logo {
      width: 12rem;
      margin: 0 auto 2rem;
    }
    @include max_width_991;
    @include max_width_575;
    @include max_width_429;
    @include max_width_320;
  }
  @media screen and (max-height: 780px) {
    padding: 2.5rem 4.5rem !important;
    &__logo {
      width: 11rem;
      margin: 0 auto 1.8rem;
    }
    &__title {
      margin: 0 0 1.5rem !important;
      font-size: 1.75rem !important;
    }
    &__card {
      padding: 1.5rem 3rem 0.75rem;
    }
    @include max_width_575;
    @include max_width_429;
    @include max_width_320;
  }
  @media screen and (max-height: 730px) {
    padding: 2.2rem 4.2rem !important;
    &__logo {
      width: 10rem;
      margin: 0 auto 1.6rem;
    }
    &__title {
      margin: 0 0 1rem !important;
      font-size: 1.5rem !important;
    }
    &__card {
      padding: 1.3rem 3rem 0.65rem;
    }
    &__button, &__input {
      height: 2.6rem !important;
    }
    &__input {
      margin: 0 0 0.75rem !important;
      &-icon {
        margin: 0.85rem 0 0;
      }
    }
    &__label {
      margin: 0 0 0.75rem;
    }
    &__links {
      margin: 1rem 0;
    }
    .button-long {
      padding: 0.33rem 1.33rem;
    }
    @include max_width_575;
    @include max_width_429;
    @include max_width_320;
  }
  @media screen and (max-height: 630px) {
    padding: 2rem 4rem !important;
    &__logo {
      width: 9rem;
      margin: 0 auto 1.5rem;
    }
    &__title {
      margin: 0 0 0.85rem !important;
      font-size: 1.4rem !important;
    }
    &__card {
      padding: 1.1rem 3rem 0.5rem;
    }
    &__button, &__input {
      height: 2.6rem !important;
    }
    &__input {
      margin: 0 0 0.7rem !important;
      &-icon {
        margin: 0.85rem 0 0;
      }
    }
    &__label {
      margin: 0 0 0.7rem;
      font-size: 0.9rem;
    }
    &__links {
      margin: 0.75rem 0;
    }
    .button-long {
      padding: 0.33rem 1.33rem;
    }
    @include max_width_575;
    @include max_width_429;
    @include max_width_349;
    @include max_width_320;
  }
  @media screen and (max-height: 590px) {
    &__wrapper {
      height: auto;
      &--short {
        height: 100vh;
      }
    }
    @include max_width_349;
    @include max_width_320;
  }
}