.host-room-card {
  position: relative;

  &__popup-stripe {
    width: 95%;
    max-width: 320px;
    height: 42%;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 74px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: $color_green_dark;
    box-shadow: 2px 2px 5px $color_border_step;

    &--alternative {
      @extend .host-room-card__popup-stripe;
      height: 215px;
    }

    &-close {
      margin: 0 0 5px 5px;
      align-self: flex-end;
      color: $color_white;
    }

    &-text {
      margin: 0;
      color: $color_white;
    }

    &-link {
      width: 100%;
      height: 45px;
      margin: 0 auto;
      display: block;
      text-align: center;
      -webkit-appearance: unset;
      appearance: unset;
    }

    &-triangle {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $color_green_dark;
      position: absolute;
      z-index: 1000;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.my-rooms__card-info {
  height: 270px;

  &-title {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 991px) {
  .my-rooms__card-info {
    height: 260px;
    &-title {
      font-size: 19px !important;
    }
  }
}
@media screen and (max-width: 575px) {
  .my-rooms__card-info {
    height: 250px;
    &-title {
      font-size: 18px !important;
    }
  }
}

.host-stripe {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    width: 100%;
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -43.5%);
    text-align: center;
    font-size: 20px;
  }

  @media screen and (max-width: 320px) {
    width: 135vw;
    height: 135vh;
  }
}