.container__user-presentation {
  margin-top: 2.25rem;
  
  @media (max-width: 991px) {
    margin-top: 3rem;
  }
}

.profile__name-input {
  &-input {
    width: 50%;

    @media (max-width: 575px) {
      width: 100%;
    }
  }
}

.profile__photo-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.profile__gender-input {

  &-select {
    width: 25%;

    @media (max-width: 575px) {
      width: 100%;
    }
    @media (min-width: 576px) and (max-width: 991px) {
      width: 50%;
    }
  }
}

.profile__save-btn {
  width: 25%;
  border-radius: 0.25rem;

  @media (max-width: 575px) {
    width: 100%;
  }
  @media (min-width: 576px) and (max-width: 991px) {
    width: 50%;
  }
}