
.form-room {

  &__question-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      align-items: unset;
    }
  }

  &__question-edit {
    @media (max-width: 1200px) {
      align-self: flex-end;
    }
    &-char {
      display: block;
      padding: 0 0 5px 0;
    }
  }

  &__limit-nights {
    margin: 0;
    padding: 0;
  }

  &__prix {

    &-title {
      font-size: 22px;

      @media (max-width: 1300px) {
        font-size: 20.75px;
      }

      @media (max-width: 650px) {
        font-size: 20px;
      }
      
      @media (max-width: 480px) {
        font-size: 18px;
      }
      
      @media (max-width: 380px) {
        font-size: 16px;
      }
    }

    &-text {
      font-size: 15px;

      @media (max-width: 650px) {
        font-size: 14px;
      }
      
      @media (max-width: 480px) {
        font-size: 12px;
      }

      &--small {
        font-size: 13px;

        @media (max-width: 650px) {
          font-size: 12px;
        }
        
        @media (max-width: 480px) {
          font-size: 11px;
        }
      }
    }
  }
}

/* CALENDAR */

.calendar-room {
  &__dates {
    padding: 0;
    display: flex;
    align-items: center;
    order: 1;

    @media (max-width: 991px) {
      order: 2;
    }

    &-input {
      width: 100%;
      margin: 0;

      @media (max-width: 991px) {
        margin: 25px 0 0 0;
      }
    }
  }

  &__conventions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 2;

    @media (max-width: 991px) {
      padding: 0;
      justify-content: flex-start;
      order: 1;
    }

    &-box {
      display: flex;
      align-items: center;
    }

    &-title {
      text-align: center;

      @media (max-width: 991px) {
        text-align: start;
      }
    }

    &-option {
      @media (max-width: 991px) {
        padding-left: 0;
      }

      &-icon {
        margin: 0 7.5px;

        @media (max-width: 991px) {
          margin: 0 7.5px 0 0;
        }
      }
    }
  }

  &__calendar-box {
    @media (max-width: 575px) {
      padding: 24px;
    }

    &-wrapper {
      margin: 0 0 15px 0;

      @media (max-width: 991px) {
        margin: 0;
      }
    }
  }
}

.room {
  &__title {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media screen and (max-width: 1099px) {
      align-items: flex-start;
    }
    @media screen and (max-width: 479px) {
      flex-direction: column;
    }
    &-wrapper {
      min-width: fit-content;
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
  
      &-btn--move-down {
        transform: translateY(40px);
        text-decoration: none !important;
      
        &-wide {
          width: 94%;
        }
      
        @media screen and (max-width: 1099px) {
          margin-top: 2rem;
          transform: translateY(0);
        }
        @media screen and (max-width: 479px) {
          margin: 0 0 1rem;
        }
      }
    }
  }
}