.locationPopUp {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  animation: slideLeft 0.5s ease-out forwards;
}

@keyframes slideLeft {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
