@import '../../colors';

.info-banner {
  background-color: $color_green_dark;
}

.demarche-MainGrid {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  @media screen and (max-width: $laptop-width) {
    padding: 0 5rem;
  }

  @media screen and (max-width: $tablet-width) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: $phone-width) {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }

  &-text {
    width: 50%;
    align-self: center;
    @media screen and (max-width: $tablet-width) {
      width: 100%;
      margin-top: 2rem;
    }
  }
  &-pics {
    width: 50%;
    @media screen and (max-width: $tablet-width) {
      width: initial;
    }
  }
  &-br {
    display: block;
    @media screen and (min-width: 0px) and (max-width: 992px) {
      display: none;
    }
  }

  &-container {
    @media screen and (min-width: 0px) and (max-width: 992px) {
      width: 100% !important;
    }
  }

  &-p {
    @media screen and (min-width: 0px) and (max-width: 992px) {
      text-align: justify;
    }
  }

  &-grid {
    position: relative;
    height: 35rem;
    img {
      height: auto;
    }
    :nth-child(1) {
      @media screen and (max-width: $tablet-width) {
        left: 0;
      }
      @media screen and (max-width: $laptop-width) {
        width: 15rem;
        left: -5%;
      }
      z-index: 30;
      position: absolute;
      left: -15%;
      width: 20rem;
    }
    :nth-child(2) {
      @media screen and (max-width: $tablet-width) {
        top: 20%;
        z-index: 20;
      }
      @media screen and (max-width: $laptop-width) {
        width: 18rem;
        height: 16rem;
      }
      position: absolute;
      right: 0;
      top: 10%;
      width: 23rem;
      height: 21rem;
    }
    :nth-child(3) {
      @media screen and (max-width: $tablet-width) {
        z-index: 10;
        left: 5%;
      }
      @media screen and (max-width: $tablet-width) {
        width: 11rem;
        height: 13rem;
      }
      position: absolute;
      bottom: 0;
      left: 19%;
      width: 16rem;
      height: 18rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .demarche-MainGrid {
    &-grid {
      figure:nth-of-type(1) {
        img {
          width: 41vw;
          height: auto;
        }
      }

      figure:nth-of-type(2) {
        grid-column: 5 / span 6;
        grid-row: 2 / span 2;
        img {
          width: 50vw;
          height: auto;
        }
      }

      figure:nth-of-type(3) {
        grid-column: 3 / span 4;
        grid-row: 3 / span 2;
        img {
          width: 50vw;
          height: auto;
        }
      }
    }
  }
}
