.demarche-hero {
  // margin-top: -7rem;
  background-image: url('../../../public/images/demarche/mainbaner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: center bottom;

  @media screen and(max-width: 1599px) and (min-width: 560px) {
    background-position: 70% bottom;
  }

  &-h1 {
    font-size: 5rem;
    font-weight: 700;
  }
  @media screen and(max-height: 560px) {
    height: 100vh;
  }
  @media screen and(max-width: 1599px) {
    &-h1 {
      font-size: 4rem;
    }
  }
  @media screen and(max-width: 1199px) {
    &-h1 {
      font-size: 3rem;
    }
  }
  @media screen and(max-width: 767px) {
    &-h1 {
      font-size: 2rem;
    }
  }
}
