.quotes {
  &-leftQuote {
    left: -10%;
    top: 1.5em;
  }

  &-rigthQuote {
    transform: rotate(180deg);
    right: -10%;
    top: 8em;
  }
}

@media screen and (max-width: 768px) {
  .quotes {
    &-leftQuote {
      left: 5%;
      top: 1.5em;
      width: 30px;
    }

    &-rigthQuote {
      right: 10%;
      width: 30px;
    }
  }
}
