@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.demarche-manifesto {
  .main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40.0209px;
    line-height: 53px;
  }
  title {
    font-weight: 700;
    font-size: 40.0209px;
    line-height: 53px;
  }

  .title-2 {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 26px;
    line-height: 33.8px;
    color: #000000;
  }
  .title-3 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
  }
  .title-4 {
    font-weight: 600;
    font-size: 23px;
    line-height: 33.8px;
    color: #000000;
  }
  .title-5 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 26px;
    line-height: 33.8px;
    color: #000000;
  }

  .title-6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 33.8px;
    color: #363636;
    margin-bottom: -5px;
    &-variant {
      font-weight: 600;
    }
  }
  .last-text {
    width: 50%;
    @media (max-width: 640px) {
      width: auto;
    }
  }
  .responsive-content {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 640px) {
      flex-direction: column-reverse;
    }
    .firm {
      font-family: 'Sacramento', cursive;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 125%;
      font-family: 'Sacramento', cursive;
      @media (max-width: 640px) {
        font-size: 32px;
        margin-top: 2rem;
      }
    }
  }

  .marie-photo {
    margin-top: -8rem;
    width: 45%;
    @media (max-width: 640px) {
      width: 90%;
      margin-top: 2rem;
    }
    @media (min-width: 1800px) {
      margin-top: -6rem;
    }
  }
  max-width: 70vw;
  margin: 40px auto;
  p {
    white-space: pre-line;
  }
  white-space: pre-line;
}
