.GreenScore-demarche-content {
  padding: 0 5rem;
  .greenscoreCard {
    p {
      width: 80%;

      // @media (max-width: 1199px) {
      //   width: 70%;
      // }
    }
  }

  .showGreentitle {
    display: flex !important;
    @media screen and (max-width: 991px) {
      display: none !important;
    }
  }

  .hideGreentitle {
    display: none !important;
    @media screen and (max-width: 991px) {
      display: flex !important;
    }
  }

  .greenscore__title {
    display: block;
    width: 100%;

    &-img, &-text {
      display: block;
      width: 100%;
    }
    &-text {
      margin: 3.33rem 0 1rem;
      font-size: 1.67rem;
    }
    @media screen and (max-width: 1199px) {
      &-text {
        font-size:1.5rem;
      }
    }
    @media screen and (max-width: 991px) {
      &-text {
        font-size:1.4rem;
      }
    }
    @media screen and (max-width: 767px) {
      &-text {
        font-size:1.3rem;
      }
    }
    @media screen and (max-width: 575px) {
      &-text {
        font-size:1.2rem;
      }
    }
  }

  .greenscore__main-title {
    margin: 0 0 2rem;
    font-size: 2.67rem;
    font-weight: 700;
    line-height: 1.325em;
    &-span {
      display: block;
    }
    @media screen and (max-width: 1199px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 991px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.7rem;
    }
    @media screen and (max-width: 575px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 480px) {
      &-span {
        display: inline;
      }
    }
    @media screen and (max-width: 380px) {
      font-size: 1.3rem;
    }
  }
  .greenscore__main-text {
    max-width: 74.47rem;
    margin: 0 auto;
    line-height: 1.5em;
  }
  .greenscore__general-text {
    font-size: 1.2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }
  .greenscore-demarche-btn {
    width: 20rem;
    @media screen and (max-width: 767px) {
      width: auto;
    }
  }
  
  @media screen and (max-width: 1880px) {
    .greenscoreCard {
      p {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .greenscoreTitle {
      b {
        margin: 25px 0 !important;
      }
    }

    .greenscoreCard {
      flex-direction: column-reverse !important;
      p {
        text-align: center !important;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0 4rem;
  }
  @media screen and (max-width: 575px) {
    padding: 0 3rem;
  }
  @media screen and (max-width: 480px) {
    padding: 0 2rem;
  }
  @media screen and (max-width: 440px) {
    padding: 0 1.5rem;
  }

  .demarche__greenscore {
    &-info {
      width: 50%;
      padding: 0;
      // @media (min-width: 1200px) and (max-width: 1499px) {
      //   width: 55%;
      //   padding: 0 2rem;
      // }
      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
    &-content {
      width: 40%;
    }
    @media screen and (max-width: 1880px) {
      &-content {
        width: 50%;
        transform: translateX(5%);
      }
    }
    @media screen and (max-width: 1599px) {
      &-content {
        width: 60%;
        transform: translateX(6%);
      }
    }
    @media screen and (max-width: 1399px) {
      &-content {
        width: 70%;
        transform: translateX(7%);
      }
    }
    @media screen and (max-width: 1199px) {
      &-content {
        width: 80%;
        transform: translateX(8%);
      }
    }
    @media screen and (max-width: 992px) {
      &-content {
        width: 100%;
        transform: translateX(0);
      }
    }
  }
}
