@import '../../colors';

.demarche-card-section {
  margin: 0;
  padding: 0;

  &__title {
    display: block;
    text-align: center;
    font-size: 2.67rem;
    font-weight: 700;
    line-height: 3.53rem;
  }
  &__img {
    @media screen and (max-width: 991px) {
      max-height: 30rem;
    }
  }
}

.demarche-cardGrid {
  max-width: 1620px;
  width: 100%;
  padding: 5rem 0;
  margin: 0 auto;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(29, 1fr);
  @media screen and (max-width: 1699px) {
    padding: 5rem 1rem;
  }
  // grid-template-rows: repeat(2, 290px) ;

  // div {
  //   margin: 0em 2em;
  // }
  div:nth-of-type(1) {
    grid-column: 1 / span 8;
    grid-row: 1;
  }
  div:nth-of-type(2) {
    grid-column: 9 / span 6;
    grid-row: 1;
    // width: 320px;
  }
  div:nth-of-type(3) {
    grid-column: 15 / span 7;
    grid-row: 1;
    // width: 358px;
  }
  div:nth-of-type(4) {
    grid-column: 22 / span 8;
    grid-row: 1 / span 2;
    // width: 379px;
  }
  div:nth-of-type(5) {
    grid-column: 1 / span 11;
    grid-row: 2;
  }
  div:nth-of-type(6) {
    grid-column: 12 / span 10;
    grid-row: 2;
  }
}

@media screen and (max-width: 992px) {
  .demarche-cardGrid {
    grid-template-columns: 1fr;

    div:nth-of-type(1) {
      grid-column: 1 / -1;
      grid-row: 1;
    }
    div:nth-of-type(2) {
      grid-column: 1/ -1;
      grid-row: 2;
    }
    div:nth-of-type(3) {
      grid-column: 1 / -1;
      grid-row: 3;
    }
    div:nth-of-type(4) {
      grid-column: 1 /-1;
      grid-row: 4;
    }
    div:nth-of-type(5) {
      grid-column: 1 /-1;
      grid-row: 6;
    }
    div:nth-of-type(6) {
      grid-column: 1 /-1;
      grid-row: 5;
    }
  }
}
