@import './../../colors';

.concept-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    color: black !important;
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: 40px auto;
    white-space: pre-line;
    flex-direction: column;
    text-align: center;
  }

  .list-items {
    display: flex;
    text-align: center;
    text-decoration: none;
    list-style: none;
    .list-item {
      padding: 0 2rem;
      width: 25%;
      .list-icon {
        border-radius: 50%;
        width: fit-content;
        padding: 10px;
        background: $color_orange;
        margin: 0 auto 1rem auto;
        img {
          width: 2.2rem;
        }
      }
    }
  }
}
