@import './../../colors';

.repenser {
  background-color: $color_green_dark;
  padding: 3rem 0;
  .repenser-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
  .text-content {
    width: 40%;
    @media (max-width: 640px) {
      width: 90%;
    }
  }
  .text-white {
    color: $color_white !important;
  }
  &-content {
    max-width: 80vw;
    margin: 40px auto;
  }
  .banner-image {
    width: 50%;
    margin-right: -50px;
    @media (max-width: 640px) {
      width: 100%;
      margin-right: 0;
      margin-top: 2rem;
    }
  }
}
