@import '../../colors';

.concept-card-content {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }

  .icon-concept {
    display: inline-block;
    position: relative;
    width: 4.87rem;
    height: 4.87rem;
    border-radius: 50%;
    background-color: $color_orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 0px) and (max-width: 320px) {
      height: 80px;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 320px) {
    .concept-container {
      margin-bottom: 76px;
    }
  }
}

.demarche__concept-text {
  width: 80%;
  margin: 2.5rem auto 3rem;
  font-size: 1.67rem;
  font-weight: 400;
  line-height: 2rem;
  color: $color_full_black;

  @media screen and (max-width: 1199px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 991px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
  }
}
