@import '../colors';

.tab {
    &__container{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    &__scrollbar{
    /* height */
        &::-webkit-scrollbar {
            height: 3px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px transparent; 
            border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color_gray; 
            border-radius: 1px;
        }

    }
}