//  Font variables
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'PlayfairDisplay', serif;

//  Font classes
.font-primary {
  font-family: 'Montserrat', sans-serif;
}
.font-secondary {
  font-family: 'PlayfairDisplay', serif;
  font-weight: 700;
}