html,
body {
  background-color: var(--color-yellow-light);
  color: $color_black;
  font-family: var(--font-montserrat);
  font-weight: 400;
  // height: 100vh;
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  // overflow-x: hidden; //this makes troubles on sticky calculator
}
