h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.05em;
}
h1 {
  // font-family: var(--font-fraunces);
  font-family: $font-secondary;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 45px;
  color: $color_green-titles;
}
h2 {
  // font-family: var(--font-playfair);
  font-family: $font-secondary;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 38px;
  color: $color_green-titles;
}
h3 {
  // font-family: var(--font-fraunces);
  font-family: $font-secondary;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: $color_green-titles;
}
h4 {
  font-size: 1.2em;
  color: $color_green-titles;
}
h5 {
  font-size: 1em;
  color: $color_green-titles;
}
h6 {
  font-size: 0.8em;
  color: $color_green-titles;
}