// colors
@each $color, $value in $colors {
  // colors
  .color-#{$color} {
    color: #{$value} !important;
  }

  // backgrounds
  .bg-#{$color} {
    background-color: #{$value} !important;
  }

  // btn
  .btn-#{$color} {
    border-color: #{$value};
    color: var(--color-white);
    background-color: #{$value};
    transition: 100ms all ease-in;
  }

  .btn-#{$color}:hover {
    color: var(--color-white);
    background-color: #{$value};
    border-color: #{$value};
    filter: brightness(0.9);
  }

  .btn-#{$color}:active {
    color: var(--color-white) !important;
    background-color: #{$value} !important;
    border-color: #{$value} !important;
    filter: brightness(0.8);
  }

  .btn-#{$color}:focus {
    border-color: #{$value};
    color: var(--color-white) !important;
    background-color: #{$value} !important;
    box-shadow: 0 0 0.25rem lighten($color: $value, $amount: 5);
  }

  .btn-outline-#{$color} {
    color: #{$value};
    border-color: #{$value};
  }

  .btn-outline-#{$color}:hover {
    color: var(--color-white);
    background-color: #{$value};
    border-color: #{$value};
    filter: brightness(0.95);
  }

  .btn-outline-#{$color}:active {
    color: var(--color-white);
    border-color: #{$value} !important;
    background-color: #{$value} !important;
    filter: brightness(0.9);
  }

  .btn-outline-#{$color}:active:focus {
    box-shadow: 0 0 0.5rem $value !important;
  }

  .btn-outline-#{$color}:focus {
    box-shadow: 0 0 0.25rem $value;
  }

  .input-check-#{$color}:checked {
    background-color: $value;
    border-color: $value;
  }

  .input-check-#{$color}:focus {
    box-shadow: 0 0 0 0.25rem lighten($color: $value, $amount: 70);
    border-color: lighten($color: $value, $amount: 20);
  }
}