.checkout{

  @mixin inputGray {
    border: 0.3px solid rgba(0,0,0,.5);
    height: 65px;
  }

  &__card{
    &-number{
      border-radius: 10px 10px 0 0;
      @include inputGray();
      padding: 0 1.25em;
      
      input[name='creditCard']{
        outline: none;
        border: 1px solid transparent;
        
      }
    }
    input {
      outline: none;
    }
    
  }
  
  &__card-inputs{
    input[name='expiration']{
      border-radius: 0 0 0 10px;
      @include inputGray();
    }
    
    input[name='securityCode']{
      border-radius: 0 0 10px 0;
      border-left: none;
      @include inputGray();
    }
  }
  &__card {
    &-container {
      justify-content: space-between;
    }
    &-wrapper {
      width: 18.5rem;
    }
    &-img {
      width: 9.27rem !important;
      height: 8rem !important;
      max-height: 8rem !important;
    }
    &-greenscore {
      transform: translateY(0);
    }
    @media screen and (max-width: 1299px) {
      &-wrapper {
        width: 15.1rem;
      }
      &-img {
        width: 8rem !important;
      }
    }
    @media screen and (max-width: 1199px) {
      &-img {
        width: 7rem !important;
        height: 7rem !important;
      }
      &-greenscore {
        transform: translateY(0);
      }
    }
    @media screen and (max-width: 420px) {
      &-container {
        flex-direction: column;
      }
      &-wrapper {
        width: 100% !important;
        margin: 1rem 0 0;
      }
      &-img {
        width: 100% !important;
      }
    }
  }
}

.card-white__checkout {
  width: 32rem;

  @media screen and (max-width: 1299px) {
    width: 30rem;
  }

  @media screen and (max-width: 1199px) {
    width: 26rem;
  }
  
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}