/* Colors */
$color_beige: #fcfaf8;
$color_black: #363636;
$color_full_black: #000;
$color_blue_darK: #325565;
$color_border_circle: #728782;
$color_border_step: #9a9a9a;
$color_gray_light: #efefef;
$color_gray_soft: #d3d3d3;
$color_gray_middle: #959494;
$color_gray_medium: #0000001a;
$color_gray_lighter: #f4f4f4;
$color_gray_translucent: #9d9d9d33;
$color_gray_blue: #BDCAD0;
$color_gray: #9d9d9d;
$color_green_primary: #437558;
$color_yellow: #e4be74;
$color_yellow_soft: #f1ece5;
$color_green_soft: #899A7A;
$color_green_dark: #445136;
$color_green_hover: #6e8259;
$color_green_light: #45bd7a;
$color_green_onboarding: #445136;
$color_green_text_2: #3b3d3c;
$color_green_text: #627a75;
$color_green: #535e50;
$color_orange: #915324;
$color_brown_light: #dda15e;
$color_brown_soft: #d1c0b6;
$color_red: #e74c3c;
$color_white: #ffffff;
$color_green-titles: #535e50;
$color_gray_banner: #eeedec;
$color_gray_banner2: #F2EEE8;
$color_gray_secondary: #e8e8e8;
//break points
$laptop-width: 1320px;
$tablet-width: 768px;
$phone-width: 440px;

$colors: (
  'beige': #f2e2c7,
  'black': #363636,
  'blue-dark': #325565,
  'crema-light': #faf8f4,
  'crema': #d4c8b6,
  'crema-soft': #d4c8b633,
  'green-soft': #899A7A,
  'gray_lighter': #f4f4f4,
  'gray-dark': #707070,
  'gray-light': #e9e9e9,
  'gray': #9f9f9f,
  'primary': #445136,
  'red': $color_red,
  'secondary': #915324,
  'white': #ffffff,
  'yellow-dark': #e4be74,
  'yellow-light': #faf6f2,
  'yellow': #ebbd67,
  'green-titles': #535e50
);
