@font-face{
  font-family: 'Fraunces';
  src: url('../public/fonts/fraunces-font/Fraunces-Italic-VariableFont_SOFT-WONK-opsz-wght.ttf');
  font-weight: normal;
	font-style: normal;
}
@font-face{font-family: 'Fraunces';src: url('../public/fonts/fraunces-font/Fraunces-VariableFont_SOFT-WONK-opsz-wght.ttf')}

@font-face{
  font-family: 'Fraunces';
  src: url('../public/fonts/fraunces-font/Fraunces_144pt-Bold.ttf');
  src: url('../public/fonts/fraunces-font/Fraunces_72pt-Bold.ttf');
  src: url('../public/fonts/fraunces-font/Fraunces_9pt-Bold.ttf');
  font-weight: bold;
	font-style: normal;
}

@font-face{font-family: 'Fraunces';src: url('../public/fonts/fraunces-font/Fraunces_9pt-SemiBold.ttf')}
@font-face{font-family: 'Fraunces';src: url('../public/fonts/fraunces-font/Fraunces_9pt-Soft-SemiBold.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Black.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-BlackItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Bold.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-BoldItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-ExtraBold.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-ExtraBoldItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-ExtraLight.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-ExtraLightItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Italic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Light.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-LightItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Medium.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-MediumItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Regular.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-SemiBold.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-SemiBoldItalic.ttf')}

@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-Thin.ttf')}
@font-face{font-family: 'Monserrat';src: url('../public/fonts/Montserrat-font/Montserrat-ThinItalic.ttf')}

@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-BlackItalic.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-BoldItalic.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-ExtraBoldItalic.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-MediumItalic.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-Italic.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-SemiBoldItalic.ttf')}

@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-Black.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-Bold.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-ExtraBold.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-Regular.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-Medium.ttf')}
@font-face{font-family: 'PlayfairDisplay';src: url('../public/fonts/playfair-display-font/PlayfairDisplay-SemiBold.ttf')}