/* Fonts */
@import './general/fonts';

//@import url('https://fonts.google.com/specimen/Montserrat?preview.text_type=custom');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './colors';
//@import './fonts';

/* VARIABLES */
:root {
  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
  }
  --font-fraunces: 'PlayfairDisplay', serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-playfair: 'PlayfairDisplay', serif;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: normal;
  --weight-semibold: 600;
}

/* HELPERS */

// fonts
.font-fraunces {
  font-family: var(--font-playfair);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

// sizes
.size-h1 {
  font-size: 45px !important;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .size-h1 {
    font-size: 30px !important;
  }
  #bonjour {
    font-size: x-large;
  }
}

.register-button {
  margin-top: 30px;
}

.size-h2 {
  font-size: 35px !important;
}

.size-h3 {
  font-size: 25px !important;
}

@media screen and (min-width: 0px) and (max-width: 424px) {
  .subtitle-regions {
    text-align: center;
    line-height: 30px;
  }
}

.size-subtitle {
  font-size: 22px !important;
  line-height: 30px !important;
}

.size-text {
  font-size: 18px !important;
}

.size-small {
  font-size: 16px !important;
}

.size-xs {
  font-size: 14px !important;
}

// weight
.weight-regular {
  font-weight: var(--weight-regular);
}

.weight-medium {
  font-weight: var(--weight-medium);
}

.weight-semibold {
  font-weight: var(--weight-semibold);
}

.weight-bold {
  font-weight: var(--weight-bold);
}

// Tooltips
.no-wrap {
  white-space: nowrap;
}

// Height
.height-50 {
  height: 50px;
}

// Right
.right-16 {
  right: 16px;
}

// // colors
// @each $color, $value in $colors {
//   // colors
//   .color-#{$color} {
//     color: #{$value} !important;
//   }

//   // backgrounds
//   .bg-#{$color} {
//     background-color: #{$value} !important;
//   }

//   // btn
//   .btn-#{$color} {
//     border-color: #{$value};
//     color: var(--color-white);
//     background-color: #{$value};
//     transition: 100ms all ease-in;
//   }

//   .btn-#{$color}:hover {
//     color: var(--color-white);
//     background-color: #{$value};
//     border-color: #{$value};
//     filter: brightness(0.9);
//   }

//   .btn-#{$color}:active {
//     color: var(--color-white) !important;
//     background-color: #{$value} !important;
//     border-color: #{$value} !important;
//     filter: brightness(0.8);
//   }

//   .btn-#{$color}:focus {
//     border-color: #{$value};
//     color: var(--color-white) !important;
//     background-color: #{$value} !important;
//     box-shadow: 0 0 0.25rem lighten($color: $value, $amount: 5);
//   }

//   .btn-outline-#{$color} {
//     color: #{$value};
//     border-color: #{$value};
//   }

//   .btn-outline-#{$color}:hover {
//     color: var(--color-white);
//     background-color: #{$value};
//     border-color: #{$value};
//     filter: brightness(0.95);
//   }

//   .btn-outline-#{$color}:active {
//     color: var(--color-white);
//     border-color: #{$value} !important;
//     background-color: #{$value} !important;
//     filter: brightness(0.9);
//   }

//   .btn-outline-#{$color}:active:focus {
//     box-shadow: 0 0 0.5rem $value !important;
//   }

//   .btn-outline-#{$color}:focus {
//     box-shadow: 0 0 0.25rem $value;
//   }

//   .input-check-#{$color}:checked {
//     background-color: $value;
//     border-color: $value;
//   }

//   .input-check-#{$color}:focus {
//     box-shadow: 0 0 0 0.25rem lighten($color: $value, $amount: 70);
//     border-color: lighten($color: $value, $amount: 20);
//   }
// }

.input-check-size-18 {
  width: 18px;
  height: 18px;
}

.radio-check-20 {
  width: 20px;
  height: 20px;
}

// reset
a:hover {
  color: var(--color-black);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.05em;
}
h1 {
  // font-family: var(--font-fraunces);
  font-family: $font-secondary;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 45px;
  color: $color_green-titles;
}
h2 {
  // font-family: var(--font-playfair);
  font-family: $font-secondary;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 38px;
  color: $color_green-titles;
}
h3 {
  // font-family: var(--font-fraunces);
  font-family: $font-secondary;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: $color_green-titles;
}
h4 {
  font-size: 1.2em;
  color: $color_green-titles;
}
h5 {
  font-size: 1em;
  color: $color_green-titles;
}
h6 {
  font-size: 0.8em;
  color: $color_green-titles;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: $color_black;
}

a {
  color: $color_orange;
  outline: none;
  position: relative;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  cursor: pointer;
}
input {
  border-radius: 5px;
  font-size: 15px;
}

// Ricardo! trata de no colocar heights o widths fijos porque no todos los inputs tienen tamaños fijos :)
/* input[type='text'], input[type='password'], input[type='date'], input[type='email'], select{height: 45px !important;} */

textarea {
  border-radius: 5px;
  font-family: var(--font-montserrat);
}
select {
  border-radius: 8px !important;
  height: 50px !important;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../public/images/icon_select.png');
  background-position: calc(100% - 20px) calc(1em + 6px),
    calc(100% - 15px) calc(1em + 10px), 100% 0;
  background-size: 13px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border: solid 1px $color_black !important;
}

label {
  color: $color_black;
}
nav {
  padding: 0;
  margin: 0;
}

.link-white {
  color: $color_white;
  text-decoration: $color_white;
  text-decoration: underline;
  font-size: 15px;
}
.link-black {
  color: $color_black;
  text-decoration: $color_black;
  text-decoration: underline;
}
.link-black-without-underline {
  color: $color_black;
  text-decoration: $color_black;
  text-decoration: none;
}

.font-montserrat {
  font-family: var(--font-montserrat) !important;
}
.badge {
  border-radius: 50px !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  padding: 4px 13px !important;
}
.badge-color-alternative {
  background-color: $color_gray;
}
.badge-color-success {
  background-color: $color_green_primary;
}
.badge-color-warning {
  background-color: $color_yellow;
}

.badge-color-danger {
  background-color: $color_red;
}

.custom-badge {
  padding: 7px !important;
  white-space: pre-wrap;
}

.date-inputs {
  height: 50px;
}

.span-gray {
  color: $color_gray;
}

.button {
  padding: 10px 15px;
  border: 1px solid $color_orange;
  border-radius: 6px;
  color: $color_white;
  background: $color_orange;
  text-decoration: none;
  font-weight: bold;

  &--save-onboarding {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    &:hover {
      border-color: $color_brown_light;
      background-color: $color_brown_light;
    }
    &:disabled {
      cursor: not-allowed;
      border-color: $color_gray;
      background-color: $color_gray;
    }
  }
}
.button-rounded {
  border-radius: 50px;
}
.button-outline {
  background: transparent;
  border-color: $color_orange;
  color: $color_orange;
}
.button-outline-black {
  width: 100%;
  padding: 24px 50px;
  background: transparent;
  border-color: $color_black;
  color: $color_black;
  text-align: center;

  /* For iOS*/
  -webkit-appearance: unset;
  appearance: unset;
  display: block;

  &--alternative {
    width: auto;
  }
}
.button-outline-white {
  background: transparent;
  border-color: $color_white;
  color: $color_white;
  padding: 15px 50px;
  height: 100%;

  /* For iOS*/
  -webkit-appearance: unset;
  appearance: unset;
  display: block;
}
.button-long {
  padding: 13px 20px;
  width: 100%;

  &--margin-left {
    margin-left: 2px;
  }
}
.button-circle {
  border-radius: 50% !important;
  color: $color_black;
  background-color: $color_white;
  border: none;
  padding: 10px 17px;
  font-size: 17px;
  align-items: center;
  align-content: center;
  font-weight: 500;

  &-minus {
    @extend .button-circle;
    padding: 10px 19px;
  }
}
.button__wrapper--zero-right {
  padding-right: 0;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > [class^='col-'],
  & > [class*=' col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
.image-background {
  width: 100%;
}
.object-fit-cover {
  object-fit: cover;
}

/* Steps onboarding */
.step {
  margin-top: 30px;
  position: relative;
  .step-line {
    border-left: 1px dashed $color_white;
    height: 235px;
    margin-left: 19px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-left: 15px;
    position: absolute;
    z-index: 2;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    .steper-text {
      color: $color_green_text;
      font-size: 16px;
    }
    .steper-text-selected {
      color: $color_white;
      font-weight: bold;
      font-size: 16px;
    }
  }

  ul li {
    padding-bottom: 35px;
    position: relative;
    color: $color_white;
    .circle {
      color: $color_white !important;
      text-align: center;
      border-style: solid;
      border-radius: 50%;
      border: 1px solid $color_border_circle;
      padding: 4px 14px;
      margin-right: 30px;
      background: $color_green_onboarding;
    }
    .circle-selected {
      background: $color_green_light !important;
      color: $color_white;
      text-align: center;
      border-style: solid;
      border-radius: 50%;
      border: 1px solid $color_border_circle;
      padding: 3px 7px;
      margin-right: 30px;
      background: $color_green_onboarding;
    }
  }

  ul li span {
    border-radius: 50%;
    border: 1px solid $color_border_circle;
    padding: 3px 6px;
    margin-right: 10px;
    background: transparent;
  }

  ul li:last-child {
    padding-bottom: 0;
  }
}

/* Background left onboarding */
.background-onboarding {
  background: $color_green_onboarding !important;
}
.background-beige {
  background: $color_beige !important;
}
.background-white {
  background: $color_white !important;
  h1 {
    font-size: 30px;
  }
}
.background-gray {
  background: $color_gray !important;
}
.background-gray-light {
  background: $color_gray_light !important;
}

/* Tabs onboarding */
.first_step_progress {
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  margin-top: 15px;
  width: 50px;
  height: 12px;
  border: 1px solid $color_border_step;
}
.middle_step_progress {
  margin-top: 15px;
  width: 50px;
  height: 12px;
  border: 1px solid $color_border_step;
}
.last_step_progress {
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  margin-top: 15px;
  width: 50px;
  height: 12px;
  border: 1px solid $color_border_step;
}
// @media screen and (min-width: 0px) and (max-width: 399px) {
//   .first_step_progress {
//     width: 20px;
//   }
//   .middle_step_progress {
//     width: 20px;
//   }
//   .last_step_progress {
//     width: 20px;
//   }
// }

@media screen and (min-width: 0px) and (max-width: 380px) {
  .first_step_progress,
  .middle_step_progress,
  .last_step_progress {
    width: 46px;
  }
}
.text-step {
  .col-6 {
    padding: 0 4px;
  }
}

.title-style {
  margin-top: 20px;
}
.actual-step {
  background: $color_green_text_2;
}
.next-step {
  background: $color_gray_light;
}
.text_last_step {
  p {
    color: $color_gray;
    display: flex;
    justify-content: center;
  }
  .icon-progressbar {
    width: 10px;
    height: 23px;
    margin: 0 auto;
    margin-left: 10px;
  }
}
.change-position-image-box {
  margin: 0;
  position: relative;
  @media screen and (max-width: 767px) {
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 467px) {
    justify-self: center;
  }
}
.change-position-image-label {
  display: none;
  position: absolute;
  left: 0;
  top: 0;

  &:hover {
    display: block;
  }
}
.change-position-image-stablishment {
  color: $color_black;
  background-color: $color_white;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 4px;
  margin-left: 4px;
  width: 50px;
  height: 23px !important;
  cursor: pointer;
  &:hover {
    display: block;
    background-color: $color_gray_light;
  }
  &:hover ~ .image-upload-stablishment {
    opacity: 0.5;
  }
}
.delete-image-stablishment {
  z-index: 20;
  color: $color_black;
  background-color: $color_white;
  border-radius: 10px;
  border: solid 1px $color_gray_light;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4px;
  margin-right: 12px;
  &:hover {
    display: block;
    background-color: $color_gray;
  }
  &:hover ~ .image-upload-stablishment {
    opacity: 0.5;
  }
}
.change-image-stablishment {
  color: $color_black;
  background-color: $color_orange;
  border-radius: 10px;
  border: solid 1px $color_gray_light;
  display: none;
  position: absolute;
  right: 30%;
  top: 40%;
  margin-top: 4px;
  margin-right: 4px;
  &:hover {
    display: block;
    background-color: $color_gray;
  }
  &:hover ~ .image-upload-stablishment {
    opacity: 0.5;
  }
}

.onboarding-form__images-box {
  &-content {
    padding: 0 !important;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));

    @media screen and (max-width: 1760px) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    @media screen and (max-width: 1350px) {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &--gap {
      gap: 5px 15px;
    }
  }
}
.rooms-form__images-box {
  padding: 2rem 0 !important;

  &-content {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));

    @media screen and (max-width: 1199px) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &--gap {
      gap: 5px 15px;
    }
  }
}

.rooms-form__row-info {
  margin: 0 1rem;

  &-text {
    text-align: end;
    margin-top: 0.5rem !important;
    @media screen and (min-width: 321px) and (max-width: 380px) {
      font-size: 13px;
    }
  }
  &-title {
    padding: 0;
  }
  &-limit {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.image-upload-stablishment-without-hover {
  height: 149px;
  width: 100%;
  margin-right: 2px;
  border-radius: 8px;
  border: solid 1px $color_gray_light;
  margin-bottom: 20px;
}

.image-upload-stablishment {
  height: 150px;
  width: 100%;
  margin-right: 2px;
  border-radius: 8px;
  border: solid 1px $color_gray_light;
  margin-bottom: 20px;
  object-fit: cover;
  &:hover {
    opacity: 0.5;
  }
  &:hover ~ .delete-image-stablishment {
    display: block;
  }
  &:hover ~ .change-position-image-stablishment {
    display: block;
  }
  &:hover ~ .change-image-stablishment {
    display: block;
  }

  @media screen and (max-width: 697px) {
    height: 200px;
  }

  @media screen and (max-width: 575px) {
    height: 145px;
  }

  @media screen and (max-width: 497px) {
    height: 170px;
  }

  @media screen and (max-width: 400px) {
    height: 150px;
  }

  &-onboarding {
    @extend .image-upload-stablishment;
    @media screen and (max-width: 1760px) {
      height: 190px;
    }
    @media screen and (max-width: 1599px) {
      height: 170px;
    }
    @media screen and (max-width: 1499px) {
      height: 160px;
    }
    @media screen and (max-width: 522px) {
      height: 190px;
    }
    @media screen and (max-width: 430px) {
      height: 170px;
    }
    @media screen and (max-width: 360px) {
      height: 160px;
    }
    @media screen and (max-width: 360px) {
      height: 170px;
    }
  }
}

.image-upload-hebergement {
  height: 140px;
  width: 100%;
  margin-right: 2px;
  border-radius: 8px;
  border: solid 1px $color_gray_light;
  margin-bottom: 20px;
  &:hover {
    opacity: 0.5;
  }
  &:hover ~ .delete-image-stablishment {
    display: block;
  }
  &:hover ~ .change-position-image-stablishment {
    display: block;
  }
  &:hover ~ .change-image-stablishment {
    display: block;
  }

  @media screen and (max-width: 1100px) {
    height: 130px;
  }

  @media screen and (max-width: 1012px) {
    height: 145px;
  }

  @media screen and (max-width: 800px) {
    height: 120px;
  }

  @media screen and (max-width: 767px) {
    height: 125px;
  }

  @media screen and (max-width: 682px) {
    height: 135px;
  }

  @media screen and (max-width: 550px) {
    height: 125px;
  }

  @media screen and (max-width: 467px) {
    height: 170px;
  }

  @media screen and (max-width: 380px) {
    height: 145px;
  }

  @media screen and (max-width: 320px) {
    height: 160px;
  }

  &--no-margin {
    margin-right: 0;
    object-fit: cover;
  }
}

.no-border {
  border: none;
  box-shadow: none;
  background-color: transparent !important;
}

/* Box dates onboarding */
.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
  padding: 0;
  margin: 0;
}
.box-not-availabilitie {
  background: $color_beige;
}
.box-availabilitie {
  background: $color_white;
}
.box-reservation {
  background: $color_green;
}
.line-box {
  width: 24px;
  height: 35px;
  border-bottom: 1px solid $color_black;
  -webkit-transform: translateY(-20px) translateX(5px) rotate(41deg);
  position: absolute; /* top: -20px; */
}
//.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after{height: 40%;}
.react-calendar__month-view__weekdays {
  font-size: 12px;
}
.calendar-onboarding {
  border: none !important;
  width: 100% !important;
  height: 80% !important;
  button:disabled,
  button[disabled] {
    background-color: $color_gray_light;
    color: $color_gray;
  }
  button {
    background-color: $color_white;
    color: $color_black;
    border: solid 0.2px $color_black !important;
    &:hover {
      background-color: $color_gray !important;
    }
  }
  .date {
    display: inline-flex;
    height: 52px;
  }
  .date-disabled {
    color: $color_gray;
    background-image: url('/images/cuadro.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .date-price-custom {
    color: $color_gray;
    background-color: $color_green;
  }
  .rbc-day-bg.date-disabled {
    color: $color_gray;
    background-image: url('/images/cuadro.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .rbc-day-bg.date-price-custom {
    color: $color_gray;
    background-color: $color_green;
  }
  .date-event {
    background-color: $color_green;
    color: $color_white;
  }
}

/* Header sticky */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Header */

.navbar-home {
  top: 0;
  padding: 0;
  background: transparent;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 999;
  .logo-navbar {
    // margin-top: 5px;
    // margin-bottom: 5px;
    img {
      height: 65px;
      @media screen and (max-width: 640px) {
        height: 36px;
      }
    }
  }
  .navbar-nav {
    .button-navbar {
      margin-right: 20px;
      font-size: 15px;
      padding: 10px 30px;
      font-weight: 500 !important;
      letter-spacing: 0.2px;
    }
  }
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.navbar-nav__profile-image {
  object-fit: cover;
}

.navbar-home-active {
  background: $color_white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 /10%), 4px 6px -2px rgb(0 0 0/5%);
  .logo-navbar {
    margin-top: 5px;
    margin-bottom: 5px;
    img {
      height: 65px;
    }
  }
}

.navbar-without-user {
  @media screen and (min-width: 0px) and (max-width: 991px) {
    flex-direction: row !important;
    justify-content: space-between;
  }
}

.box-orange {
  background-color: $color_orange;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  .icon {
    color: $color_white;
    width: 30px;
    height: 25px;
    margin-top: 7px;
  }
}

.dropdown-toggle::after {
  display: none;
}

.onboarding__arrow-up {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  background-color: $color_white;
  box-shadow: 2px 2px 5px $color_gray_soft;
  cursor: pointer;

  @media screen and (max-width: 992px) {
    bottom: 135px;
  }
}

.summary__container {
  padding-left: 32px;
}

/* Cards */
.card-white {
  background: $color_white;
  border-radius: 10px;
  padding: 3rem 2.5rem;
  margin-bottom: 20px;

  &__green-score {
    margin: 0;
    padding: 3rem 0 0 0 !important;
  }

  &__responsive {
    @extend .card-white;

    @media (max-width: 575px) {
      padding: 1rem;
    }

    &-title--line-height {
      line-height: 1.25em;
    }

    &-title--medium {
      font-size: 20px !important;
      line-height: 1.25em;

      @media (max-width: 575px) {
        font-size: 19px !important;
      }
    }

    &-title {
      line-height: 1.25em;
      font-size: 24px !important;

      @media (max-width: 575px) {
        font-size: 22px !important;
      }
      @media (max-width: 480px) {
        font-size: 20px !important;
      }
      @media (max-width: 380px) {
        font-size: 18px !important;
      }
      @media (max-width: 350px) {
        font-size: 16px !important;
      }
      @media (max-width: 320px) {
        font-size: 18px !important;
      }
    }

    &-title-2 {
      line-height: 1.25em;
      font-size: 24px !important;

      @media (max-width: 575px) {
        font-size: 22px !important;
      }
      @media (max-width: 480px) {
        font-size: 20px !important;
      }
    }

    &-subtitle {
      @media (max-width: 350px) {
        font-size: 15px !important;
      }
      @media (max-width: 320px) {
        font-size: 12px !important;
      }
    }

    &-label {
      font-size: 15px;
      font-weight: 700;

      @media (max-width: 575px) {
        font-size: 14px;
      }
      @media (max-width: 380px) {
        font-size: 13px;
      }
      @media (max-width: 340px) {
        font-size: 12px;
      }
      @media (max-width: 320px) {
        font-size: 13px;
      }
    }
  }

  &__calendar {
    @extend .card-white;

    @media (min-width: 1200px) {
      &:nth-child(2n) {
        border-radius: 0 10px 10px 0;
      }
      &:nth-child(2n + 1) {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  &__form-control--no-margin {
    margin: 0 !important;
  }

  &__form-group--no-margin {
    margin: 0 !important;
  }

  &__text--no-margin {
    margin: 0 !important;
  }

  .leaflet-bottom {
    z-index: 900;
  }

  .dashboard-icons {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 15px;
  }
  .dashboard-links {
    padding-left: 0;
  }
  .card-head {
    // img {
    //   width: 50px;
    //   height: 50px;
    // }
    h3 {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: bold;
      font-family: var(--font-montserrat) !important;
    }
    p {
      margin-top: 0;
      font-size: 13px;
    }
  }
  h1 {
    padding: 0;
    font-size: 30px;
    margin: 0;
    line-height: 40px;
  }
  h3 {
    color: $color_black;
    font-family: var(--font-montserrat) !important;
    font-size: 24px;
    padding: 0;
  }
  h4 {
    margin-bottom: 10px;
    color: $color_black;
  }
  p {
    margin-top: 2px;
  }
  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  input[type='email'],
  input[type='time'],
  input[type='month'],
  select {
    height: 50px;
    border-radius: 8px;
    border: solid 1px $color_black;
    padding: 0 1.25em;
    padding-right: 20%;
  }
  input[type='checkbox'] {
    width: 17px;
    height: 17px;
    border: solid 1px $color_black;
  }
  input[type='radio']:checked {
    background: radial-gradient(
      black 0%,
      black 40%,
      transparent 50%,
      transparent
    ) !important;
    border-color: black !important;
  }
  textarea {
    border-radius: 8px !important;
    border: solid 1px $color_black !important;
    height: 170px !important;
    resize: none;
  }

  .tip-container {
    h4 {
      line-height: 18px;
      margin: 0;
      margin-bottom: 2px;
    }
    .tip-text {
      margin-bottom: 2%;
      span {
        color: $color_gray;
      }
    }
  }
  span {
    color: $color_gray;
  }
  hr {
    color: $color_gray;
  }
  input {
    margin-bottom: 25px;
  }
  textarea {
    margin-bottom: 35px;
  }
  select {
    margin-bottom: 25px;
  }

  .select-without-margin-bottom {
    margin-bottom: 0px !important;
  }
  .card-background-gray {
    background: $color_gray_light;
    border-radius: 5px;
    input[type='file'] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label {
      color: $color_white;
      background: $color_gray;
      display: inline-block;
      border: none;
      padding: 10px 50px;
      &:focus,
      &:hover {
        background: $color_black;
        cursor: pointer;
      }
    }
    .container-card-gray {
      padding: 10px 20px;
      p {
        font-weight: bold;
      }
      ul {
        margin: 0 auto;
      }
    }

    .button-min-max {
      text-align: center;
      margin: 10px 0;
    }
    .input-min-max {
      margin: 10px 0;
    }
  }

  .card-background-gray-beds {
    background: $color_gray_light;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    padding: 0.625rem;
    .row {
      align-items: center;
      align-content: center;
      padding: 1% 1% 1% 2%;
    }
    h4 {
      margin-bottom: 0;
    }
    .container-buttons {
      .buttons {
        margin-top: 0;
        align-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        .button-min-max {
          text-align: center;
          .button-max {
            padding: 10px 17px;
          }
        }
        p {
          margin: 0;
          font-weight: bold;
          font-size: 1.1em;
        }
      }
    }
  }
  .card-map {
    width: 100%;
    height: 400px;
  }
  .card-advice {
    h4 {
      color: $color_orange;
      margin-bottom: 0px;
      font-size: 15px;
    }
    p {
      font-size: 12px;
    }
  }
  .card-border-radio {
    border: 1px solid $color_black;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 28px;
    padding: 6px;
    //.form-check{margin-top: 7px !important;}
  }
  .card-border {
    border: 1px solid $color_black;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;
  }
  .card-radio {
    border-radius: 8px;
    background: $color_gray_light;
    margin-right: 14px;
    height: 50px;
  }

  ul {
    padding: 0;
    margin-bottom: 20px;
  }

  ul li {
    list-style: none;
    padding-bottom: 10px;
    .circle-selected {
      color: $color_white;
      display: inline-block;
    }
  }

  .card-add {
    max-width: 20rem;
    padding: 0;
    input[type='file'] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label {
      border-radius: 5px;
      border: none;
      width: 100%;
      height: 149px;
      &:focus,
      &:hover {
        background: $color_gray_light;
        cursor: pointer;
      }
      span {
        color: $color_white;
        background-color: $color_orange;
        border: solid 1px $color_orange;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        margin-top: 55px;
        align-items: center;
      }
      img {
        width: 100%;
        height: 150px;
        margin: 0 auto;
        align-items: center;
      }
    }
  }

  .card-image {
    // max-width: 14rem;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-right: 8px;

    &--no-margin {
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 1599px) {
      max-width: 16rem;
    }
    @media screen and (max-width: 1350px) {
      max-width: unset;
    }
  }

  .form__card-add-img {
    height: 160px !important;
    margin: 0 !important;
    width: unset !important;

    @media screen and (max-width: '697px') {
      height: 213px !important;
    }

    @media screen and (max-width: '575px') {
      height: 153px !important;
    }

    @media screen and (max-width: '497px') {
      height: 170px !important;
    }

    @media screen and (max-width: '400px') {
      height: 150px !important;
    }

    &-room {
      height: 149px !important;
      margin: 0 !important;
      width: unset !important;

      @media screen and (max-width: '1100px') {
        height: 138px !important;
      }

      @media screen and (max-width: '1012px') {
        height: 153px !important;
      }

      @media screen and (max-width: '800px') {
        height: 127px !important;
      }

      @media screen and (max-width: '767px') {
        height: 132px !important;
      }

      @media screen and (max-width: '682px') {
        height: 143px !important;
      }

      @media screen and (max-width: '550px') {
        height: 132px !important;
      }

      @media screen and (max-width: '467px') {
        height: 173px !important;
      }

      @media screen and (max-width: '380px') {
        height: 160px !important;
      }
    }

    &--center {
      @media screen and (max-width: 476px) {
        justify-self: center;
      }
    }
  }

  .form-check {
    padding-left: 1.5em !important;
    margin-bottom: 20px !important;
    display: flex;
    align-items: flex-start;
    input {
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  .img-logo {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    img {
      width: 70px;
      height: 80px;
    }
  }

  .img-line {
    padding: 0;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  #seven_days_discount {
    margin-bottom: 0;
  }
  #month_discount {
    margin-bottom: 0;
  }

  small {
    color: $color_black !important;
    font-weight: bold;
  }
}

@media screen and (min-width: 0px) and (max-width: 280px) {
  .card-white {
    padding: 3rem 1rem;
    h3 {
      text-align: center;
    }
    h4 {
      text-align: center;
      font-size: 12px;
    }
    .card-background-gray-beds {
      margin-top: 2rem !important;
      .container-buttons {
        margin-top: 10px;
        .buttons {
          justify-content: center;
          margin-left: 0;
          .button-min-max {
            padding: 0;
          }
          p {
            padding: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .card-white {
    .card-background-gray-beds {
      .container-buttons {
        .buttons {
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .buttons-onboarding {
    .button-back-onboarding {
      margin-bottom: 10px;
      .button-outline-black {
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .card-white {
    .image-greenscore {
      justify-content: center !important;
      // margin-bottom: 10px;
    }
  }
}

.card-image-border {
  height: 200px;
  border-radius: 5px;
  margin-right: 6px;
  padding: 0;
}
.card-image {
  height: 100%;
  border-radius: 10px;
  padding-right: 6px;
  margin-bottom: 5px;
  padding: 0;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    color: $color_black;
  }
  a {
    text-decoration: none;
  }
  .card-modifier {
    .icon-progressbar {
      height: 30px;
      width: 10px;
      margin-left: 5px;
    }
    &--flex {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.card-gray {
  background: $color_gray_light;
  border-radius: 5px;
}

.card-button-networks {
  border: solid 1px $color_black;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  height: 100%;

  .icon {
    img {
      margin: 5px auto;
      display: block;
    }
  }

  .text-network {
    p {
      font-size: 10px;
      text-align: center;
      margin-top: 14px;
    }
  }

  img {
    height: 24px;
  }

  button {
    box-shadow: none !important;
    span {
      color: $color_black !important;
    }
  }
}

.input-nights {
  width: 40px;
  text-align: center;
  border: none;
  height: 27px;
  margin-bottom: 0;
  padding: 0;
}
.card-button-nights {
  border: solid 1px $color_black;
  border-radius: 10px;
  margin-right: 51px;
  .input-night {
    margin-right: 0;
    padding: 0;
    padding-left: 12px;
    display: inline-flex;
    input {
      width: 40px;
      text-align: center;
      border: none;
      height: 27px;
      margin-bottom: 0;
      padding: 0;
    }
  }
  .buttons-night {
    padding-right: 0;
    font-size: 20px;
    .button-left {
      width: 50%;
      height: 100%;
      border: solid 1px $color_black;
      background-color: $color_white;
      border-top: none;
      border-bottom: none;
    }
    .button-right {
      width: 50%;
      height: 100%;
      border: none;
      background-color: $color_white;
      border-radius: 0 10px 10px 0;
    }
  }
}
.container-onboarding {
  padding: 1.5rem 15% 1.5rem 15%;
  .p-subtitle {
    margin-bottom: 25px;
  }
  .subttitle-container {
    h2 {
      font-size: 25px;
      margin-bottom: 0;
      line-height: 40px;
    }
    p {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
  &__time-input {
    padding: 11px 18px !important;
  }
  &__time-label {
    @media screen and (max-width: 380px) {
      width: 60px !important;
    }
  }

  @media screen and(min-width:0px) and (max-width: 991px) {
    padding: 1% 1% 1% 1%;
  }
}

.container-progressbar {
  .progressbar {
    @media screen and(min-width:0px) and (max-width: 889px) {
      flex-direction: column;
    }
  }
}

.container-onboarding-presentation {
  padding: 8% 8% 0 5%;
}
.container-onboarding-pictures {
  @media screen and(min-width:0px) and (max-width: 766px) {
    display: none;
  }
}

.container-login {
  padding: 140px 125px;
  .card-white {
    width: 70%;
    margin: 0 auto;
  }
  h4 {
    font-size: 16px;
  }
  button,
  a {
    font-size: 15px;
  }
  .password-input {
    position: relative;
    input {
      padding-right: 50px;
    }
  }
}

.container-resend {
  display: flex;

  &__card-white {
    align-self: center;
  }
  &__input,
  &__button {
    @media screen and (max-width: 370px) {
      font-size: 12px !important;
    }
  }
  &__link {
    margin-top: 25px;
    display: block;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1199px) {
  .container-resend {
    &__card-white {
      width: 90% !important;
    }
  }
}
@media screen and (min-width: 967px) and (max-width: 1050px) {
  .container-resend {
    &__card-white {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 460px) {
  .container-resend {
    &__card-white {
      padding: 30px 15px;
    }
  }
}
@media screen and (min-width: 410px) and (max-width: 966px) {
  .container-login {
    padding: 30px 10px;
    .card-white {
      width: 90%;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 410px) {
  .container-login {
    padding: 30px 0px;
    .card-white {
      width: 90%;
      h1 {
        font-size: 28px;
      }
      .form-check-label {
        font-size: 10px;
        a {
          font-size: 10px;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.container-login-left {
  min-height: 100vh;
  position: relative;
  .image-logo {
    position: absolute;
    left: 0px;
    z-index: 1000;
    padding: 40px;
  }
  .text-login {
    margin-top: 220px;
  }
  h2 {
    z-index: 1000;
    position: relative;
    margin: 0 30px;
    color: $color_white;
    font-size: 38px;
    line-height: 42px;
  }
  @media screen and (min-width: 0px) and (max-width: 750px) {
    h2 {
      font-size: 20px;
    }
  }
  .image-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .container-login-left {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
}

#side-menu {
  display: none;

  @media screen and (max-width: 991px) {
    height: 450px;
  }

  @media screen and (min-width: 992px) {
    display: block !important;
    min-height: 100vh;
  }
}

.show-menu {
  display: block !important;

  @media screen and (min-width: 992px) {
    display: none !important;
  }
}

.container-onboarding-left {
  padding: 1% 2%;
  // display: hidden;

  .link-white {
    justify-content: center;
  }
  .justify-content-center {
    align-items: center;
  }
  @media screen and (max-width: 991px) {
    .close-menu {
      display: flex !important;
    }
  }

  @media screen and (min-width: 992px) {
    .close-menu {
      display: none !important;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .progressbar-container {
    justify-content: center !important;
    p {
      font-size: 8px;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .progressbar-title {
    text-align: center !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .container-onboarding-left {
    padding: 15px 15px;
  }

  .logo-responsive {
    display: block;
    text-align: center !important;
    padding-bottom: 10% !important;
  }
}

@media screen and (min-width: 751px) {
  .logo-responsive {
    display: none;
  }

  .quotes-demarche {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.display-sidebar-menu {
  display: block !important;
}

.hide-sidebar-menu {
  display: none !important;
}

.finish-onboarding__grid {
  height: calc(100vh - 89px - 40px);

  @media screen and (max-width: 991px) {
    height: auto;
  }
}

.finish-onboarding__bg-image {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.td_table {
  .td_mes_reservations {
    // max-width: 380px;
    padding: 25px 15px;

    @media (max-width: 1400px) {
      padding: 25px 20px;
    }

    &:first-child,
    &:last-child {
      padding: 25px 24px;
    }
    &:first-child {
      max-width: 370px;
    }
  }
  .td_border_top {
    border-top: none;
  }
  .td_border_bottom {
    border-bottom: none;
  }
  &__main-wrapper {
    &-img {
      width: 30%;
      margin: 0;
    }
    &-image {
      object-fit: cover;
    }
    &-text {
      width: 70%;
    }
  }
  &__price-text {
    min-width: 120px;
  }
}

.header-onboarding {
  background-color: $color_white;
  text-align: center;
  margin-bottom: 40px;
}

.finish-onboardign-left {
  text-align: center;
  p {
    margin-bottom: 30px;
  }
  img {
    margin-bottom: 10px;
  }
}

.finish-onboardign-right {
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .card-white {
    .link-establishment {
      text-align: end;
    }
  }
}

.footer {
  /* margin-top: 30px; */
}

.icon-check {
  color: $color_green_light;
  width: 20px;
  margin-right: 5px;
}
.icon-passer {
  color: $color_orange;
  width: 20px;
  margin-right: 5px;
}
.icon-eye {
  color: $color_green_dark;
  width: 20px;
  position: absolute;
  right: 20px;
  margin-top: 18px;
  cursor: pointer;
}

// .card-hebergement-Container:hover {
//   .icon-star {
//     display: block;
//   }
// }
.icon-star {
  color: $color_orange;
  width: 20px;
  display: block;
  position: absolute;
  margin-left: 15px;
  &:hover {
    display: block;
    cursor: pointer;
  }
}

.input-group-text {
  &--checkout {
    font-size: 0.9rem !important;
  }
}

.form-control {
  &--checkout {
    height: 3.05rem !important;
    margin: 0 0 0.2rem!important;
    padding: 0 1rem !important;
    font-size: 0.9rem !important;
    &::placeholder {
      padding: 0 !important;
      text-align: start !important;
      color: $color_gray;
    }

    &-notif {
      position: absolute;
      top: 3.5rem;
      left: 0;
    }
  }
}

.button-gift--checkout {
  width: 3rem;
  margin-top: 0rem !important;
  font-size: 1.4rem !important;
  &:last-child {
    width: auto;
    height: 3rem;
    font-size: 1rem !important;
  }
  &-load {
    background-color: $color_gray;
    border-color: $color_gray;
    cursor:progress !important;
  }
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  width: 100px;
  background-color: $color_gray;
}

.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  width: 100%;
  justify-content: center;
}

.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-group-text {
  background-color: $color_gray;
  border: solid 1px $color_black;
  color: $color_white;
  font-weight: bold;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  background: transparent;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group
  > .input-group-prepend:first-child
  > .input-group-text:not(:first-child),
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  width: 150px;
}

input.react-autosuggest__input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-autosuggest__container {
  position: absolute;
  width: 95%;
}

.rightAdminScreen {
  .react-autosuggest__container {
    width: 37.5%;
  }
}

.react-autosuggest__suggestion--highlighted {
  background-color: $color_gray_soft;
}
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 55px;
  max-height: 200px;
  overflow-y: scroll;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  z-index: 1000000;
  background: $color_white;

  &-admin {
    @extend .react-autosuggest__suggestions-container--open;
    top: unset;
    bottom: 0;
  }
}

.messagge-onboarding {
  text-align: center;
  img {
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .congrat-greenscore {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .no-greenscore {
    font-size: 25px;
    line-height: 30px;
  }
  progress {
    margin-bottom: 10px;
  }
  .subtitle {
    margin-bottom: 70px;
  }
  .subtitle-no {
    margin-bottom: 20px;
  }
  .subtitle-h1 {
    font-weight: bold;
  }
  button {
    margin-bottom: 20px;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  border: $color_black;
  background-color: $color_green_dark;
}

/* The Modal (background) */
.modal-google-info {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $color_black; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-google-info {
  background-color: $color_beige;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid $color_gray_light;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-google-info {
  color: $color_gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-google-info:hover,
.close-google-info:focus {
  color: $color_black;
  text-decoration: none;
  cursor: pointer;
}

.mr-10 {
  margin-right: 10px;
}

.my-1-5 {
  margin: 1.5rem 0;
}

.btn {
  padding: 12px auto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.btn-home-1 {
  padding: 10px 20px;
  border-radius: 0.67rem !important;
}

.Card-image {
  object-fit: cover;
  width: 100%;
  transition: all ease 300ms;
  height: 300px;
}

@media screen and(min-width:0px) and (max-width: 766px) {
  .thematic__header {
    text-align: center;
    .div-button {
      justify-content: center;
    }
  }

  .btn-home-1 {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .btn {
    border-radius: 1.25rem;
    width: max-content;
  }
}

@media screen and(min-width:0px) and (max-width: 786px) {
  .tittle-go-further {
    text-align: center;
  }
}

.greenscore-text {
  margin-top: 0rem;
  @media screen and(min-width:0px) and (max-width: 786px) {
    margin-top: 0.6rem;
  }
}

.grid-item {
  z-index: -10;
}

.grid-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.bg-success {
  background-color: $color_yellow !important;
}

.slick-dots li button:before {
  color: $color_white;
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  opacity: 0.9;
  color: $color_white;
}

.bg-green {
  background-color: $color_green_dark !important;
}

.position-static {
  position: static !important;
}

.link-go-back {
  cursor: pointer;
  &__icon {
    width: 0.6rem;
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg)
      saturate(500%);
  }
  &__text {
    padding: 0 0 0 1.77rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color_green_dark;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $color_green_hover;
    }
  }
}
.container-xxl {
  width: 98% !important;
}
