@import 'globals/borders.scss';
@import 'globals/shadows.scss';
@import './colors';

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;

  &-8 {
    margin: 0 auto;
    width: 80%;
  }
  &-4 {
    margin: 0 auto;
    width: 40%;
  }
}

@for $i from 1 through 9 {
  .wrapper {
    &-#{$i} {
      margin: 0 auto;
      width: $i * 10 + 0%;
    }
  }

  @media screen and (max-width: 768px) {
    .wrapper {
      &-#{$i} {
        width: 90%;
      }
    }
  }

  .lh-1#{$i} {
    line-height: 1 + $i / 10;
  }

  .lh-2#{$i} {
    line-height: 1 + $i + 1 / 10;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    &-8 {
      width: 90%;
    }
  }
}

.fz-1-25 {
  font-size: clamp(12px, 1.5vw, 1.25rem);
}

.fz-1-5 {
  font-size: clamp(12px, 1.5vw, 1.5rem);
}

.fz-12 {
  font-size: clamp(12px, 0.94vw, 12px);
}

.fz-13 {
  font-size: clamp(13px, 1vw, 13px);
}

.fz-14 {
  font-size: clamp(13px, 1.5vw, 14px);
}

.fz-15 {
  font-size: clamp(13px, 1.5vw, 15px);
}
.fz-15-custom {
  font-size: clamp(15px, 1.5vw, 15px);
}

.fz-16 {
  font-size: clamp(13px, 1.5vw, 16px);
}

.fz-18 {
  font-size: clamp(13px, 1.8vw, 18px);
}

.fz-20 {
  font-size: clamp(13px, 1.8vw, 20px);
}

.fz-22 {
  font-size: clamp(22px, 1.8vw, 22px);
}

.fz-28 {
  font-size: clamp(13px, 2vw, 28px);
}

.text-block,
.paragraph {
  font-size: clamp(14px, 0.94vw, 15px);
}

.text {
  font-size: clamp(14px, 0.835vw, 15px);
}

.small {
  font-size: clamp(14px, 0.835vw, 16px);
}

.subtitle {
  font-size: clamp(18px, 1.1445vw, 20px);

  &-dashboard {
    // font-size: clamp(18px, 1.32vw, 20px);
    font-size: 18px;

    @media (min-width: 1200px) {
      font-size: 20px;
    }
  }
}

.h1 {
  font-size: clamp(24px, 2.35vw, 45px);

  &--alternative {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1em;

    @media screen and (max-width: 1199px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 991px) {
      font-size: 2.25rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}

.h2 {
  // font-size: clamp(18px,2.085vw,40px);
  font-size: clamp(18px, 1.88vw, 36px);
  &-dashboard {
    font-size: clamp(20px, 1.57vw, 30px);
    margin: 0;
  }

  &--alternative {
    font-size: 2rem;

    @media screen and (max-width: 1199px) {
      font-size: 1.6rem;
    }
  }

  &-title {
    font-size: clamp(20px, 1.8vw, 36px);
  }
}

.h3 {
  font-size: clamp(12px, 1.32vw, 25px);

  &--alternative {
    font-size: 1.2rem !important;

    @media screen and (max-width: 1199px) {
      font-size: 1rem !important;
    }
  }
}

.p {
  &--alternative {
    font-size: 0.93rem;
  }
}

.rounded-4 {
  border-radius: 0.33rem;
}

.underline-0 {
  text-decoration: none;
}

.obj-fit-cover {
  object-fit: cover;
}

.small-hide {
  display: block;
}
.small-show {
  display: none;
}

@media screen and (max-width: 768px) {
  .small-hide {
    display: none !important;
  }
  .small-show {
    display: block !important;
  }
}

.my-0-75 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.py-1-25 {
  padding: 1.25em 0;
}

.my-6 {
  margin: 4rem auto;
}

.py-5rem {
  padding: 5rem 0;
}

.lh-125rem {
  line-height: 1.5rem;
}

.lh-175rem {
  line-height: 1.75rem;
}

.lh-22 {
  line-height: 22px;
}

.p-3rem {
  padding: 3rem;
}

//form check

.form-check-input {
  &:checked {
    border-color: $color_green_dark;
    background-color: $color_green_dark;
  }
  
  &--search {
    position: static !important;
    margin-left: 0;
    &:checked {
      border-color: $color_green_dark;
      background-color: $color_green_dark;
    }
  }

  &__span {
    display: inline-block;
    &:first-child {
      margin: 0 0 0 0.5rem;
      transform: translateY(-1px);
    }
    &:last-child {
      margin: 0 0 0 0.25rem;
      transform: translateY(1px);
    }
  }
}

// modals

.modal-dialog {
  max-width: 700px;
}

//
.outline-0 {
  outline: none;
}

.Toastify__toast--success {
  background: $color_green;
}
.Toastify__toast--warning {
  background: $color_yellow;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.react-datepicker-popper {
  z-index: 10;
}

.number-styled-input {
  border: solid 1px $color_black !important;

  &:focus {
    outline: none;
  }
}

.icon-width {
  width: 0.875em;
}

// Add class `.custom-switch-lg` to a `custom-switch`
.custom-switch.custom-switch-lg {
  padding-bottom: 1rem;
  padding-left: 2.25rem;

  & .custom-control-label {
    padding-left: 0.75rem;
    padding-top: 0.15rem;

    &::before {
      border-radius: 1rem;
      height: 1.5rem;
      width: 2.5rem;
    }

    &::after {
      border-radius: 0.65rem;
      height: calc(1.5rem - 4px);
      width: calc(1.5rem - 4px);
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1rem);
  }
}

.custom-switch.custom-switch-xl {
  padding-bottom: 1rem;
  padding-left: 2.25rem;

  & .custom-control-label {
    padding-left: 2rem;
    padding-top: 0.5rem;

    &::before {
      border-radius: 1rem;
      height: 2rem;
      width: 3.5rem;
    }

    &::after {
      border-radius: 2rem;
      height: calc(2rem - 4px);
      width: calc(2rem - 4px);
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.5rem);
  }
}

.hdpi.pac-logo:after,
.pac-logo:after {
  display: none !important;
}
