/** HERO **/
@media screen and (min-width: 0px) and (max-width: 320px)
  body
    width:135%
    height: 135vh

      
.effacer-home 
  @media(max-width:478px)
    position: absolute
    top: 125%
    right: 0


/** CARD_LIST **/
.card_list
  .slick-prev::before,
  .slick-next::before
    color: black

  .slick-prev::before
    

  .slick-next::before
   
/** REVIEWS **/
.reviews__container
  background-color: #d1c0b6
  @media screen and (max-width: 575px)    
    height: 20rem
    background-color: #BDCAD0

  .carousel-indicators
    li
      border-radius: 50%
      width: 0.8rem
      height: 0.8rem
      border: 1px solid var(--color-black)

      &.active
        background-color: var(--color-black)

  &-left-quote
    @media screen and (max-width: 575px)
      width: 1.6rem
  &-right-quote
    transform: rotate(180deg)
    @media screen and (max-width: 575px)
      width: 1.6rem
  &-divider
    width: 250px
    @media(max-width:768px)
      width: 200px

  
  &-text
    width: 80%
    @media screen and (max-width: 575px) 
      margin-right: 0 !important
      margin-left: 0 !important
    

.go-further__grid
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(3, 100px)
  gap: 1rem
  @media screen and (max-width: 575px)
    max-height: 33.33rem

  &-card-image
    width: 250px
    height: 100%

    @media(max-width:991px)
      width: 100%
.go-further__main-article
  font-size: 1.5rem !important
  @media screen and (max-width: 575px)
    font-size: 1rem !important

.go-further__main-image
  grid-column: 1 / span 1
  grid-row: 1 / span 3
  position: relative

  &::after
    content: ""
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgb(0,0,0)
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%)
    position: absolute
    border-radius: 10px

@media (max-width: 991px)
  .go-further__grid
    grid-template-columns: 1fr

/** SLICK **/
.slick-track
  display: flex !important



/** THEMATICS **/
.thematic
  &__header
    @media screen and (max-width: 575px) 
      position: relative

      &-btn
        position: absolute
        top: 50rem
        left: 50%
        transform: translateX(-50%)
    
  &__grid
    display: grid
    grid-template-columns: repeat(6, 1fr)
    gap: 1rem

    @media (max-width: 786px)
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

  &__container
    display: flex
    justify-content: center
    align-items: center
    width: max-width
    height: auto
  &__item
    width: 100%
    position: relative
    border-radius: .6rem
    overflow: hidden
    cursor: pointer
    transition: 200ms ease all
    @media screen and (max-width: 785px) 
      max-height: 11rem
    @media screen and (max-width: 575px) 
      max-height: 7.67rem

    &::before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background-color: rgb(0,0,0, 0.44)
      transition: 200ms ease all


    &:nth-of-type(-n + 3)
      grid-column: span 2

    &:nth-of-type(n + 4)
      grid-column: span 3

    &:hover
      box-shadow: .5rem .5rem 1rem -.5rem gray !important

      &::before
        background-color: rgb(0,0,0, 0.5)

    &__content
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    & figure
      width: 100%
      height: 100%
      margin-bottom: 0

      & img
        width: 100%
        height: 100%
        max-height: min(280px, 35vh)
        object-fit: cover

    @media (max-width: 786px)
      grid-column: inherit !important


/** GIRFT CARD **/
.gift-card
  &__container
    position: relative
    overflow: hidden
  &__content
    &__column
      &--body
        width: 100%
        max-width: 500px
        margin-left: max(18rem, 25%)

        @media screen and ( max-width: 768px )
          margin-left: 0
          max-width: 100%

      &--icon
        position: absolute

        @media screen and ( max-width: 768px )
          display: none



/** SURPRISED **/
.surprised
  &__container
    padding: 6rem 0
  &__content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem
    align-items: center

    @media screen and ( max-width: 786px )
      grid-template-columns: 1fr

  &__column
    &--body
      max-width: min(90%, 600px)

      @media screen and ( max-width: 786px )
        max-width: 100%
    &--grid
      display: grid
      gap: 1vw
      grid-template-columns: 10% 1fr 10% 2fr
      grid-template-rows: 5% 1fr 1fr 10%
      max-width: 800px
      max-height: 600px

      @media screen and ( max-width: 786px )
        max-width: 100%
        gap: 1rem
        max-height: 400px

      figure
        &:nth-of-type(1)
          grid-column: 1 / span 2
          grid-row: 1 / span 2

        &:nth-of-type(2)
          grid-column: 3 / span 2
          grid-row: 2 / span 2

        &:nth-of-type(3)
          grid-column: 2 / span 2
          grid-row: 3 / span 2

        img
          width: 100%
          height: 100%
          object-fit: cover


.carousel-home-content
  width: 75%
  position: relative
  margin: 0 auto
  @media screen and (max-width: 575px) 
    width: 100%
    margin: 0  
  