@import './colors';

.navbar__icon--align-center {
  transform: translateY(-2px);
}

.host-dashboard__container {
  max-width: 100vw;
  margin: 7.5rem 0 3rem;

  @media screen and (max-width: 320px) {
    max-width: 135vw;
  }
}

.host-dashboard__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin: 0;

  @media screen and (max-width: 1300px) {
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: unset;
  }

  &--ar {
    grid-template-columns: 1fr;
  }
}

.host-dashboard__languages {
  grid-template-columns: repeat(3, 1fr);
  @media screen and (min-width: 600px) {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    margin-right: 5px;
  }
}

.host-dashboard__pane {
  @media screen and (max-width: 1300px) {
    margin-bottom: 12px;
  }

  &:nth-of-type(odd) {
    grid-column: span 2;

    @media screen and (max-width: 1300px) {
      grid-column: unset;
    }
  }
}

.host-dashboard__conditions {
  &__label {
    font-size: 0.85rem;
  }
}

.host-dashboard__main-btn {
  @media (min-width: 768px) and (max-width: 1299px) {
    width: 50%;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    width: 60%;
  }
  @media (max-width: 575px) {
    width: 100%;
  }
}

//  Pagination
.host__pagination-left-btn,
.host__pagination-right-btn {
  line-height: 1.5rem;
  font-size: 25px;
  font-weight: 400;
  color: black;
}

.host__pagination-left-btn {
  padding-right: 0.2rem;
}

.host__pagination-right-btn {
  padding-left: 0.2rem;
}

.establishment_photos__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  .establishment_photos__item {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 10rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cover-main-photo {
  position: absolute;
  top: 30%;
  padding: 0 10px;
  background: $color_yellow;
  border-radius: 50px;
  color: $color_white;
  width: calc(100% - 2rem);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .host-dashboard__pane {
    grid-column: span 2;
  }
}

@media screen and (max-width: 678px) {
  .establishment_photos__grid {
    grid-template-columns: 1fr;
    .establishment_photos__item {
      height: 15rem;
      .cover {
        width: 50%;
      }
    }
  }
}

.establishment_photos__item--add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed;
}

.establishment_photos__item--add-button label {
  border-radius: 50%;
  background-color: var(--color-secondary);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.establishment_photos__item--add-button label span {
  color: white;
}

.establishment_photos__item--add-button input[type='file'] {
  display: none;
}

.establishment_photos__delete_button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.establishment_photos__delete_button:disabled {
  display: none;
}

.green-score {
  &__host {
    @media (max-width: 575px) {
      padding: 0.75rem;
    }
  }

  &__card-head {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      margin: 0;
    }

    @media (max-width: 575px) {
      margin: 0 0 15px 0;
    }

    &-img {
      width: 50px;
      height: 50px;

      @media (max-width: 767px) {
        width: 38px;
        height: 38px;
      }
      @media (max-width: 575px) {
        width: 25px;
        height: 25px;
      }
    }

    &-title {
      padding-right: 0;

      @media (min-width: 992px) and (max-width: 1199px) {
        margin-left: 15px;
      }
    }
  }
}

.reservation__validate {
  align-items: center;
  margin: 0 0 3rem 0;

  &-text {
    font-size: 15px;

    @media screen and (max-width: 380px) {
      font-size: 12px;
    }
    @media screen and (max-width: 320px) {
      font-size: 15px;
    }
  }
}

.subtitle-dashboard-wrapper {
  flex-direction: column;

  @media (min-width: 420px) {
    flex-direction: row;
  }
}

/* ********************* MES HEBERGEMENT SECTION ********************* */
.host_my_rooms__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(313px, 1fr));
  gap: 1rem;

  @media (max-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &--simple {
    @extend .host_my_rooms__grid;
    grid-template-columns: 24% 24% 24% 24%;

    @media (max-width: 1299px) {
      grid-template-columns: 31% 31% 31%;
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

.host_my_rooms__card--add-room {
  border: 1px dashed gray;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host_my_rooms__card--add-room button {
  width: 3rem;
  height: 3rem;
}

.host_my_rooms__container-rooms {
  margin-top: 8rem;
}

.host_my_rooms__wrapper {
  @media (max-width: 637px) {
    padding: 0 80px;
  }
  @media (max-width: 575px) {
    padding: 0 50px;
  }
  @media (max-width: 480px) {
    padding: 0 40px;
  }
  @media (max-width: 420px) {
    padding: 0 30px;
  }
  @media (max-width: 380px) {
    padding: 0 20px;
  }
  @media (max-width: 350px) {
    padding: 0;
  }
}

.input-spin-hide::-webkit-inner-spin-button {
  display: none;
}

.btn-circle {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
}

.btn-circle > span {
  line-height: 35px;
}

/* ******************* SPECIFIC HEBERGEMENT SECTION ******************* */

.main-room__title {
  margin-top: 3rem;
}

/* ********************* MES RESERVATIONS SECTION ********************* */
.mes-reservations {
  &__title {
    margin: 0;

    @media screen and (max-width: 790px) {
      font-size: 30px;
    }

    @media screen and (max-width: 687px) {
      margin: 0 0 1rem 0;
    }
  }
  &__header {
    width: auto;
    @media screen and (min-width: 0px) and (max-width: 600px) {
      width: 100%;
    }
  }
  &__tab-list {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style-type: none;
    list-style: none;
    padding-left: 0px;
  }
  &__tab-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    &__text {
      margin: 0 0;
      @media screen and (min-width: 600px) {
        margin: 0 15px;
      }

      @media screen and (max-width: 599px) {
        margin: 0 12px;
      }

      @media screen and (max-width: 400px) {
        margin: 0 8px;
      }

      @media screen and (max-width: 370px) {
        margin: 0 4px;
      }

      @media screen and (max-width: 335px) {
        margin: 0 2px;
      }

      @media screen and (max-width: 320px) {
        margin: 0 6px;
      }
    }
  }
}

.table__vertical {
  width: 100%;
  margin: 12px 0;
  border-radius: 5px;
  background-color: $color_white;

  &-row {
    @media screen and (min-width: 321px) and (max-width: 360px) {
      font-size: 0.875rem;
    }
  }

  &-th,
  &-td {
    width: 50%;
    padding: 1rem 3rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 2rem;
    }

    @media screen and (max-width: 576px) {
      width: unset;
      padding: 1rem;
    }

    @media screen and (max-width: 380px) {
      width: unset;
      padding: 0.75rem;
    }

    @media screen and (max-width: 350px) {
      width: unset;
      padding: 0.75rem 0.65rem;
    }
  }

  &-th {
    font-weight: 400;
    @media screen and (max-width: 576px) {
      width: 28%;
    }
  }

  &-td {
    &-text {
      margin: 0 0 0.5rem 0;
    }
    &-img {
      margin: 0.5rem 0 0 0;
    }
    @media screen and (max-width: 576px) {
      width: 72%;
    }
  }

  &-text--small {
    margin: 0;

    @media screen and (min-width: 321px) and (max-width: 360px) {
      font-size: 0.875rem;
    }
  }

  .dropdown-toggle {
    border-radius: 0.25rem;
  }
}
