.list-search-form
  input[type="date" i]::-webkit-calendar-picker-indicator
    margin: 0

  input[type=number]::-webkit-inner-spin-button
    display: block

  .input__cities
    min-width: 100px

  @media (min-width: 1425px)
    &
      width: 80%
  
  @media (max-width: 630px)
    &
      flex-direction: column
      border-radius: 2em!important

/** CARD **/
.list-card__container

  .slick-next, .slick-prev
    z-index: 100

  .slick-prev
    transform: translateX(2.5rem)

  .slick-next
    transform: translateX(-2.5rem) rotate(180deg)

  .slick-slider
    height: 100%

    .slick-list
      height: 100%

      .slick-track
        height: 100%

        .slick-slide > div
          height: 100%
          width: 100%

          & > div
            height: 100% !important
            width: 100%

            & > div
              height: 100%
              width: 100%

  .list-card__details
    // flex-grow: 1
    width: 60%

    @media (max-width: 630px)
      width: 100%  

  .list-card__content
    width: 100%
    display: flex

    .list-card__image-main
      width: 40%
      height: 16rem
    


      img
        object-fit: cover
        // width: 100%
        border-radius: 8.32898px !important
    
    @media (max-width: 630px)
      &
        flex-direction: column

      .list-card__image-main
        width: 100%
