/** GALLERY **/

/** NAVBAR **/
.navbar__container
  width: 100%
  z-index: 997

.navbar__content
  width: 100%
  ul
    width: 100%

    li
      min-width: 100px

.nav-pills .nav-link.active
  background-color: var(--color-green-soft)

.establishment-tab
  //border-bottom: solid 1px var(--color-black)

.establishment-tab .nav-link
  color: var(--color-gray-dark)

.establishment-tab .nav-link.active
  position: relative
  background-color: transparent
  color: var(--color-black)
  //border-bottom: solid var(--color-yellow-dark)

  &::after
    content: ''
    width: 100%
    height: 2.5px
    border-radius: 2.5px
    position: absolute
    z-index: 100
    bottom: 0
    right: 0
    background-color: var(--color-yellow-dark)


.nav__item
  position: relative

  &-description-list
    padding: 18.75px 0

    &-tab
      padding: 18.75px 0
      font-size: 15px
      appearance: unset
      -webkit-appearance: unset

.nav__item.active
  &::after
    content: ""
    position: absolute
    bottom: 0rem
    right: 0
    left: 0
    width: 100%
    height: .25rem
    border-radius: .5rem
    background-color: var(--color-secondary)

@media (max-width: 1024px)
  .gallery__grid
    grid-template-columns: repeat(2, 1fr) !important
    grid-template-row: 1fr !important

  .navbar__content
    overflow-x: scroll

    ul
      justify-content: flex-start !important

      li
        min-width: 150px

@media (max-width: 1024px)
  .gallery__grid
    grid-template-columns: repeat(2, 1fr) !important

    &__item:nth-of-type(odd)
      grid-column: 1 / span 1 !important

    &__item:nth-of-type(1),
    &__item:nth-of-type(2)
      grid-row: inherit !important

    &__item:nth-of-type(even)
      grid-column: 2 / span 1 !important


.btn-calc--mobile 
  @media (max-width: 766px)
    width: 100% !important
    border-radius: 0.43rem !important

.single-total-price
  @media (max-width: 575px)
    font-size: 1rem !important

.card-white__single--description
  background-color: white !important
  @media (max-width: 575px)
    background-color: var(--color-yellow-light) !important
    padding-left: 0 !important
    padding-right: 0 !important

.card-white__single-section
  @media (max-width: 575px)
    padding: 1rem !important

.single__title
  &-name
    font-size: 2.33rem
    @media (max-width: 575px)
      font-size: 1.87rem
  &-infos
    font-size: 1.6rem !important
    @media (max-width: 575px)
      font-size: 1.25rem !important
.single__btn-section
  border-radius: 0.67rem !important
  @media (max-width: 575px)
    display: block
    margin: 0 auto

.single__check
  @media (max-width: 575px)
    display: none
  
.single__info
  order: 1

  @media (max-width: 991px)
    order: 2
  @media (max-width: 1399px)
    .card_list
      .slick-next
        transform: translateX(-40px) rotate(180deg)
      .slick-prev
        transform: translateX(35px)
        z-index: 10000
  @media (max-width: 991px)
    .card_list
      .slick-next
        transform: translateX(calc(-400% - 50px)) rotate(180deg)
  @media (max-width: 959px)
    .card_list
      .slick-next
        transform: translateX(calc(-98px)) rotate(180deg)
  @media (max-width: 949px)
    .card_list
      .slick-next
        transform: translateX(calc(-90px)) rotate(180deg)
  @media (max-width: 939px)
    .card_list
      .slick-next
        transform: translateX(calc(-82px)) rotate(180deg)
  @media (max-width: 929px)
    .card_list
      .slick-next
        transform: translateX(calc(-75px)) rotate(180deg)
  @media (max-width: 909px)
    .card_list
      .slick-next
        transform: translateX(calc(-68px)) rotate(180deg)
  @media (max-width: 889px)
    .card_list
      .slick-next
        transform: translateX(calc(-60px)) rotate(180deg)
  @media (max-width: 869px)
    .card_list
      .slick-next
        transform: translateX(calc(-52px)) rotate(180deg)
  @media (max-width: 859px)
    .card_list
      .slick-next
        transform: translateX(calc(-45px)) rotate(180deg)
  @media (max-width: 640px)
    .card_list
      .slick-next
        transform: translateX(calc(-35px)) rotate(180deg)
  @media (max-width: 575px)
    .card_list
      .slick-next
        transform: translateX(calc(-30px)) rotate(180deg)
  @media (max-width: 489px)
    .card_list
      .slick-next
        transform: translateX(calc(-55px)) rotate(180deg)
      .slick-prev
        transform: translateX(66px)
  @media (max-width: 459px)
    .card_list
      .slick-next
        transform: translateX(calc(-45px)) rotate(180deg)
      .slick-prev
        transform: translateX(56px)
  @media (max-width: 439px)
    .card_list
      .slick-next
        transform: translateX(calc(-35px)) rotate(180deg)
      .slick-prev
        transform: translateX(46px)
  @media (max-width: 389px)
    .card_list
      .slick-next
        transform: translateX(calc(-30px)) rotate(180deg)
      .slick-prev
        transform: translateX(41px)

.single__form
  max-height: 100%
  padding: 0 0 0 1rem
  order: 2

  @media (max-width: 991px)
    padding: 0 0 1rem 0
    order: 1

.gallery__slider__item 
  width: 100% !important 
  height: 450px !important

  @media (max-width: 575px) 
    height: 335px !important
  
.gallery__slider__container
  margin-top: 1.33rem
  .slick-list
    border-radius: 10px