.user-profile__card{
  &-photo{
    width: 120px;
    height: 120px;
    margin-right: 1em;
  }
}

#myTab{
  a:not(.active){
    opacity: .5;
  }
}

.user-locationCard{
  &-image{
    width: 293px;
  }
  &-info{
    max-width: 38%;
  }
  &-button{
    width: 230px;
    margin-right: 0;
  }
}

@media screen and (max-width:768px){
  .user-locationCard{
    &-image{
      width: 100%;
      > div {
        width: 100%;
      }
    }
    &-info{
      width: 100%;
      max-width: 100%;
    }

  }
}

@media screen and (max-width:1600px){
  .user-locationCard{
    &-info{
      width: auto;
    }
  }
}

.message {
  &-notification{
    width: 29px;
    height: 29px;
  }
}

.reservation-user {
  &__divider {
    margin: 1rem 0;
    border-bottom: 1px solid $color_gray_soft;
  }
}

.reservation-user-empty {
  width: 100%;
  text-align: start;
  padding: 1.5rem 0;

  @media screen and (max-width: 766px) {
    text-align: center;
  }
}

.user-card-white {
  &__checkbox {
    width: 17px !important;
    margin: 0 8px 0 0 !important;
    display: inline;
    float: left;
  }
  &__label {
    display: inline;
  }
  &__button {
    margin: 2rem 0;
    display: block;
  }
}

.user-info__photo-input {
  @media screen and (max-width: 380px){
    flex-direction: column;
    &__img {
      order: 2;
    }
    &__link {
      margin-bottom: 10px !important;
      order: 1;
    }
  }

  &__img--fixed {
    width: 92px;
    height: 92px;
  }
}

.user-info__save-button {
  width: 25%;
  border-radius: 0.25rem;

  @media screen and (max-width: 1199px) {
    width: 50%;
  }
  @media screen and (max-width: 575px) {
    width: 100%;
  }
}

.user-info__input-field {
  width: 25%;

  @media screen and (max-width: 1199px) {
    width: 50%;
  }
  @media screen and (max-width: 575px) {
    width: 100%;
  }

  &-gender {
    padding-right: 20px !important;
  }

  &--divided {
    width: 50%;

    &:last-child {
      margin-left: 2rem;

      @media screen and (max-width: 575px) {
        margin: 0;
      }
    }

    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
  
  &--divided-normal {
    width: 50%;
    height: 50px;
    margin-bottom: 2rem;
    border-radius: 8px;
    border: solid 1px $color_black;
    padding: 0 1.25em;
    padding-right: 20%;

    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }
  
  &--divided-lg {
    width: 50%;

    &:last-child {
      margin-left: 2rem;

      @media screen and (max-width: 991px) {
        margin: 0;
      }
    }

    @media screen and (min-width: 576px) and (max-width: 991px) {
      width: 50%;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }

  &--medium {
    width: 100%;
    padding-right: 20px !important;
    @media screen and (max-width: 991px) {
      width: 50%;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }

  &-wrapper {
    display: flex;
    @media screen and (max-width: 575px) {
      flex-direction: column;
    }
  }
}
