.locationPopUp {
  width: 40%;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 10000;
  animation: slideLeft 0.5s ease-out forwards;
  box-shadow: -20px 0px 2000px 10050px rgb(0 0 0 / 50%);

  &__statusMessage {
    color: $color_red;
  }

  &__close {
    border-radius: 50%;
    border: 1px solid;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &__card {
    background: linear-gradient(
        0deg,
        rgba(239, 231, 219, 0.2),
        rgba(239, 231, 219, 0.2)
      ),
      linear-gradient(0deg, #ffffff, #ffffff);
    height: 10em;
    border-radius: 15px;
  }

  &__map {
    height: 20rem;
    max-height: 260px;
    &-container {
      height: 100%;
      max-height: 211px;
    }
  }

  &__cancel {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    background-color: $color_gray_lighter;

    &-title, &-btn-wrapper {
      display: flex;
      align-items: center;
    }
    &-body, &-btn-wrapper {
      width: 100%;
    }
    &-question {
      margin: 10px 0 0 0;
    }
    &-btn {
      margin: 10px auto 0;
      border-radius: 4px !important;
    }
  }

  .slick-prev {
    left: 10px;
    z-index: 100;
  }

  .slick-next {
    right: 10px;
    z-index: 100;
  }

  .slick-slide img {
    height: 200px;

    @media screen and (max-width: 768px) {
      height: 300px;
    }
    @media screen and (max-width: 680px) {
      height: 250px;
    }
    @media screen and (max-width: 575px) {
      height: 200px;
    }
  }
}

@keyframes slideLeft {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .locationPopUp {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .locationPopUp {
    width: 60%;
  }
}
