.reservation{
  &-title{
    font-size: 3.46rem;
  }

  &-inputs select,&-inputs input{
    width: 100%;
    max-width: 375px;
    margin-left: 1.5em;
    padding: 0 1em;
    border: 1px solid;
    height: 60px;
  }

  &-tabs{
    a{
      &.active{
        font-weight: 700;
        color: var(--color-black);
      }
      color: #9D9D9D;
    }
  }
}

@media screen and (max-width:768px){
  .reservation{
    &-inputs input[type='date']{
      margin-left: 0;
    }
  }
}

.location-card {
  padding: 1em .5em;
  margin: 1.25em 0;
  height: 16rem;
  align-items: center;
  display: flex;
  &__slider{
    width: 100%;
    height: 200px;
    max-width: 291px;
    margin: 30px 40px 30px 30px;

    &-img {

    }
  }
  &__info{
    width: 100%;
    &-main{
      max-width: 50%;
      width: 50%;
    }
  }
  &__icons{
    span{
      margin: .5em 0;
    }
    p{
      margin: 0;
    }
  }
  .slick-prev {
    left: 5%;
    z-index: 10;
  }
  .slick-next{
    right: 5%;
  }
}

.location-card-res {
  position: relative;
  padding: 1em .5em;
  margin: 1.25em 0;
  height: 16rem;
  align-items: flex-start;
  display: flex;
  
  @media (max-width: 991px) {
    height: auto;
    flex-wrap: wrap;
  }
  @media (max-width: 575px) {
    padding: 1em;
  }

  &__slider{
    width: 100%;
    max-width: 291px;
    margin: 30px 15px;
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    
    @media (max-width: 991px) {
      margin: 5px 10px;
    }
    @media (max-width: 575px) {
      margin: 5px 0;
      justify-content: center;
    }
    .slick-slider {
      width: 100%;
      // @media (max-width: 575px) {
      //   width: 80%;
      //   justify-content: center;
      // }
      // @media (max-width: 380px) {
      //   width: 96%;
      //   justify-content: center;
      // }
    }

    &-img {
      width: 291px;
      height: 150px;
      border-radius: 0.3rem;
      display: block;
      object-fit: cover;
      
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (max-width: 575px) {
        height: 200px;
      }
      @media (max-width: 500px) {
        height: 150px;
      }
    }

    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      max-width: 240px;
    }
    @media (max-width: 640px) {
      max-width: 180px;
    }
    @media (max-width: 575px) {
      max-width: unset;
      width: 100%;
    }
  }

  &__main{
    max-width: 37%;
    width: 37%;
    padding: 30px 0 0 10px;

    @media (max-width: 1199px) {
      max-width: 40%;
      width: 40%;
    }
    @media (max-width: 991px) {
      max-width: 50%;
      width: 50%;
      padding: 2px 0 0 10px;
    }
    @media (max-width: 575px) {
      max-width: 100%;
      width: 100%;
      padding: 0;
      align-items: flex-start;
    }
  }

  &__status {
    max-width: 15%;
    width: 15%;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;  
    align-items: center;
    
    &-title {
      font-size: 17px;
      
      @media (max-width: 575px) {
        margin: 0 9px 0 0;
        font-size: 14px;
      }
    }
    &-text {
      font-size: 12px;
      font-weight: 600;
      text-align: center;
    }
    @media (max-width: 1199px) {
      max-width: 20%;
      width: 20%;
    }
    @media (max-width: 991px) {
      max-width: 33%;
      width: 33%;
      padding: 10px 0 0 0;
    }
    @media (max-width: 575px) {
      max-width: 100%;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__price {
    max-width: 11%;
    width: 11%;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;

    @media (max-width: 1199px) {
      max-width: 15%;
      width: 15%;
    }
    @media (max-width: 991px) {
      max-width: 33%;
      width: 33%;
      padding: 10px 0 0 0;
    }
    @media (max-width: 575px) {
      max-width: 100%;
      width: 100%;
      text-align: end;
      flex-direction: row;
      justify-content: space-between;
    }

    &-title {
      font-size: 17px;
      @media (max-width: 575px) {
        margin: 0;
        font-size: 14px;
      }
    }
  }

  &__link {
    max-width: 15%;
    width: 15%;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 0;
      position: absolute;
      top: 10px;
      right: 15px;
    }
    @media (max-width: 991px) {
      max-width: 33%;
      width: 33%;
      padding: 10px 0 0 0;
    }
    @media (max-width: 575px) {
      max-width: 100%;
      width: 100%;
      justify-content: flex-start;
      text-align: start;
    }
  }

  &__icons{
    span{
      margin: .5em 0;
    }

    p{
      margin: 0;
    }
  }
  .slick-prev {
    left: 5%;
    z-index: 10;
  }
  .slick-next{
    right: 5%;
  }
}

.user_reservations{
  &__cards{

  }

  &__infoCard{
    width: 33%;
    padding: 1rem;
  }
}

@media screen and (max-width:768px){
  .user_reservations{
    &__infoCard{
      width: 100%;
      padding: 1rem;
    }
  }
}
@media screen and (max-width:1024px) {
  .location-card{
    flex-direction: column;
    height: 100%;
 
    &__slider{
      margin: 5px 10px;
    }
  }   
}
 