.custom-homepage {
  &__close-btn {
    padding: 8px 20px 0 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  &__change-image-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    z-index: 9999;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 11px 22px -2px #808080aa;

    &--wide {
      @extend .custom-homepage__change-image-container;
      width: 500px;
    }
  }
  &__title-change-image {
    width: 100%;
    text-align: left;
    padding: 5px 0 0;
    
    &--img {
      padding: 5px 0 0 20px;
    }
  }
  &__title-change-order {
    width: 100%;
    text-align: left;
    padding: 5px 0 0;
  }
  &__body-change-image {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0 0 20px;
  }
  &__container-preview-image {
    display: flex;
    width: 90px;
    height: 60px;
    justify-content: left;
    align-items: center;
    background-color: #ddd;
  }
  &__preview-image {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: 5;
  }
  &__select-image-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 20px;
  }
  &__uploadfile-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    border-style: none;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    background-color: $color_border_circle;
  }
  &__button-label {
    padding: 8px 10px;
  }
  &__input-image-size-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 20px 0px 20px;
  }
  &__input-image-size {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__input-image-size-style {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 8px;
    height: 30px;
    padding-left: 10px;
  }
  &__input-section-name-style {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
  }
  &__input-section-textarea-style {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 8px;
    width: 100%;
    height: 120px;

    &--fixed {
      @extend .custom-homepage__input-section-textarea-style;
      height: 90px;
      resize: none;
      cursor: not-allowed;
    }
  }
  &__input-section-order-style {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 8px;
    height: 30px;
    width: 48px;
    margin-right: 20px;
    text-align: center;
    
    &--long {
      @extend .custom-homepage__input-section-order-style;
      width: 100%;
      text-align: start;
    }
  }
  &__input-image-size-right {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 50%;
  }

  &__button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__button {
    display: flex;
    border-style: none;
    border: none;
    border-radius: 4px;
    margin: 1px;
  }
  &__button-cancel {
    background-color: $color_gray_banner;
    color: black;
    font-weight: 700;
  }
  &__button-confirm {
    background-color: $color_green;
    color: white;
    font-weight: 700;
  }
  &__text-button {
    padding: 8px 12px;
    font-size: 0.85rem;
  }
  &__change-image-container:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: white transparent;
    border-width: 50px 35px 0;
    bottom: -50px;
    left: 50%;
    margin-left: -35px;
  }
  &__left-padding {
    padding-left: 20px;
  }
  &__right-padding {
    padding-right: 20px;
  }
  &__top-padding {
    padding-top: 20px;
  }
  &__bottom-padding {
    padding-bottom: 20px;
  }
  &__secondary-left-padding {
    padding-left: 10px;
  }
  &__secondary-right-padding {
    padding-right: 10px;
  }
  &__secondary-top-padding {
    padding-top: 10px;
  }
  &__secondary-bottom-padding {
    padding-bottom: 10px;
  }
}

/* 

&__custom-range-input {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100px;
      }
      &__custom-range-input:focus {
        outline: none;
      }
      &__custom-range-input::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #ac51b5;
        border-radius: 25px;
        border: 0px solid #000101;
      }
      &__custom-range-input::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 15px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.6px;
      }
      &__custom-range-input:focus::-webkit-slider-runnable-track {
        background: #ac51b5;
      }
      &__custom-range-input::-moz-range-track {
        width: 100px;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #ac51b5;
        border-radius: 25px;
        border: 0px solid #000101;
      }
      &__custom-range-input::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
      }
      &__custom-range-input::-ms-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
      }
      &__custom-range-input::-ms-fill-lower {
        background: #ac51b5;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      }
      &__custom-range-input::-ms-fill-upper {
        background: #ac51b5;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      }
      &__custom-range-input::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
      }
      &__custom-range-input:focus::-ms-fill-lower {
        background: #ac51b5;
      }
      &__custom-range-input:focus::-ms-fill-upper {
        background: #ac51b5;
      }


*/
