@import '../colors';
//side
.admin-sidemenu {
  &-content {
    width: 12rem;
    height: 90%;
    background-color: $color_green_primary;
    position: fixed;

    hr {
      margin: 0;
      padding: 0;
    }
  }
  &-item {
    cursor: pointer;
    text-align: center;
    padding: 1rem 0;
    transition: all 0.3s ease;

    a {
      text-decoration: none;
      color: $color_white;
    }

    &:hover {
      background-color: $color_yellow;
      a {
        color: $color_black;
      }
    }

    &.is-active {
      background: $color_yellow;
      a {
        color: $color_black;
      }
    }
  }
}

//user components

.admin-userTable {
  padding: 1rem;
  width: 100%;
  table {
    border-spacing: 0;
    border: 1px solid $color_green_dark;
    margin: 0 auto;
    margin-bottom: 4rem;
    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
      &:nth-child(even) {
        background-color: $color_gray_banner;
      }
    }
    th,
    td {
      padding: 0.5rem;
      border-bottom: 1px solid $color_green_dark;
      border-right: 1px solid $color_green_dark;

      :last-child {
        border-right: 0;
      }
    }

    th {
      background: $color_green_primary;
      color: white;
      font-weight: bold;
    }
  }
  &__empty-result {
    padding: 12px;
    text-align: center;
  }

  .admin-action-button {
    color: $color_orange;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    &:hover {
      color: $color_black;
    }
  }

  &__search {
    margin: 0 0 4rem;

    &-bar {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-inputs {
      display: flex;
      justify-content: space-between;
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
    }
    &-select, &-txtinput {
      margin: 0 10px 0 0;
    }
    &-btn {
      margin: 0 0 0 10px;
    }

    @media screen and (max-width: 1325px) {
      &-bar {
        flex-direction: column;
        align-items: flex-start;
      }
      &-inputs {
        width: 100%;
        margin: 0 0 12px;
      }
      &-select, &-txtinput {
        margin: 0;
      }
      &-buttons {
        width: 100%;
      }
      &-btn {
        width: 48%;
        margin: 0;
      }
    }
  }
}

.admin-users-searchBar {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 2rem 0 4rem 0;
  span {
    display: flex;
    align-items: center;
    border: solid 1px $color_green_primary;
    border-radius: 8px;
    padding: 0.5rem;
  }
}

//pagination

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  &-item {
    border-style: none;
    border-radius: 10rem;
    height: 3rem;
    width: 3rem;
    padding-right: 6px;
    padding-left: 6px;
    font-weight: 600;
    &:hover {
      background-color: $color_gray_secondary;
    }
    &.is-active {
      background-color: $color_black;
      color: $color_white;
    }
  }
}

.abracadaroom {
  &-greenscore {
    height: -webkit-fill-available;
    display: flex;
    margin-right: 0;
    padding: 0;
    align-items: center;
    p {
      margin: 0;
    }
  }
}

.select-height {
  height: 35.25px !important;
  min-width: 13rem;
  background-position: calc(100% - 10px) 60%;

  &--long {
    @extend .select-height;
    min-width: 15.25rem;
  }
}

.admin-room {
  &__list {
    position: relative;
  }
  &__preview {
    width: 240px;
    position: absolute;
    top: -45px;
    right: 0;

  }
  @media screen and (max-width: 1324px) {
    &__list {
      padding-top: 40px;
    }
    &__preview {
      top: -50px;
      left: 0;
    }
  }
}
.reservation-admin-detail{
  &__img {
    max-width: 500px;
    margin: 15px auto 0;
    display: block;
  }
}