.card__image-greenscore {
  &-figure {
    width: 6rem;
    margin: 0;
  }
  &-img {
    display: block;
    width: 4.87rem;
    margin: 0 auto;
  }
  &-label {
    margin: 0 !important;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 1.27rem;
    color: $color_black;
  }
  @media screen and (max-width: 575px) {
    
  }
}

.single__greenscore-header {
  &-figure {
    display: block;
    width: 11rem;
    margin: 0;

    @media (max-width: 768px) {
      position: relative;
    }
  }
  &-label {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: $color_black;
    &--small {
      font-size: 1rem;
    }
  }
  &-img {
    width: 7.8rem;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 991px) {
    &-figure {
      position: relative;
      width: 6.25rem;
      margin: 1rem 0 0;
      &::after {
        content: '';
        position: absolute;
        top: -10%;
        right: -1rem;
        width: 0.07rem;
        height: 120%;
        background-color: $color_black;
      }
    }
    &-label {
      font-size: 0.93rem;
    }
    &-img {
      width: 6.23rem;
    }
  }
}

// .single__greenscore-header
//   position: absolute

//   @media (max-width: 768px)
//     position: relative